Repository telerik/kendo-themes, pull requests merged in 2018-11, with the labels that each got.

#366 add kendo-theme-tasks
  .editorconfig
  .travis.yml
  package.json
  packages/bootstrap/build/all.js
  packages/bootstrap/package.json
  packages/bootstrap/webpack.config.js
  packages/default/build/all.js
  packages/default/build/embed-assets.js
  packages/default/build/file-to-sass.js
  packages/default/build/twbs-compat.js
  packages/default/package.json
  packages/default/webpack.config.js
  packages/material/build/all.js
  packages/material/package.json
  packages/material/webpack.config.js
  packages/theme-tasks/.eslintrc
  packages/theme-tasks/bin/kendotheme.js
  packages/theme-tasks/gulpfile.js
  packages/theme-tasks/index.js
  packages/theme-tasks/lib/globals.js
  packages/theme-tasks/lib/tasks/embedassets/data-uri.template
  packages/theme-tasks/lib/tasks/lint.js
  packages/theme-tasks/lib/tasks/sass.js
  packages/theme-tasks/lib/utils/args-parser.js
  packages/theme-tasks/lib/utils/nodesass-packageimporter.js
  packages/theme-tasks/package.json
  tests/package.json
Labels: Enhancement

#396 feat(scheduler): add angular scheduler agenda view styles
  packages/default/scss/scheduler/_layout.scss
  packages/default/scss/scheduler/_theme.scss
Labels: C:Scheduler

#427 grouping indicators overflowing
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug

#437 fix(grid): grid with visual scrolling not rendered properly in RTL
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug

#440 non-scrollable grid command buttons margins
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/grid/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Grid, T:Bootstrap, T:Default, T:Material

#436 button not displayed correctly on IE on small window sizes
  packages/default/scss/button/_layout.scss
Labels: C:Button

#472 fix(scrollview): revert regression rendering changes
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/scrollview/_layout.scss
  packages/bootstrap/scss/scrollview/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/scrollview/_layout.scss
  packages/default/scss/scrollview/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/scrollview/_layout.scss
  packages/material/scss/scrollview/_theme.scss
  tests/visual/scrollview.html
Labels: C:Scrollview
