Repository telerik/kendo-themes, pull requests merged in 2018-10, with the labels that each got.

#325 Horizontal scrollbar disappears when no records
  packages/default/scss/grid/_layout.scss
Labels: C:Grid

#348 Multiselect close button area
  packages/default/scss/multiselect/_layout.scss
  packages/material/scss/multiselect/_layout.scss
Labels: C:Multiselect, T:Bootstrap, T:Default

#369 chore: update pastshots
  .gitignore
  build/create-screenshots.sh
  package-lock.json
  package.json
  packages/bootstrap/package-lock.json
  packages/default/package-lock.json
  packages/material/package-lock.json
Labels: Enhancement

#379 fix(notification): base-level rules for RTL throwing SASS compiler error
  packages/default/scss/notification/_layout.scss
Labels: bug

#383 fix(notification): notification content does not wrap on small screens
  packages/default/scss/notification/_layout.scss
Labels: C:Notification, bug

#394 fix: add asp-fallback-test class for use with mvc
  packages/default/scss/common/_base.scss
Labels: Enhancement
