Repository telerik/kendo-themes, pull requests merged in 2018-09, with the labels that each got.

#229 feat(chat): add styles for chat toolbar
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/chat/_layout.scss
  packages/default/scss/chat/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Chat, Enhancement, T:Bootstrap, T:Default, T:Material

#288 test(grid): add states of the rows test
  tests/visual/grid-rows-states.html
  tests/visual/output/bootstrap/grid-rows-states.png
  tests/visual/output/default/grid-rows-states.png
  tests/visual/output/material/grid-rows-states.png
Labels: C:Grid

#289 fix(inputs): style indication not shown when invalid/required input in Material
  packages/material/scss/input/_theme.scss
Labels: bug

#304 fix(tooltip): incorrect styling when importing styles separately
  packages/bootstrap/scss/tooltip.scss
  packages/default/scss/tooltip.scss
  packages/material/scss/tooltip.scss
Labels: bug

#320 fix: correct a typo in variable name
  packages/bootstrap/scss/_variables.scss
Labels: T:Bootstrap
