Repository telerik/kendo-themes, pull requests merged in 2018-12, with the labels that each got.

#462 Upload: button text not visible when widget is disabled in IE
  packages/default/scss/upload/_layout.scss
Labels: C:Upload, T:Bootstrap, T:Default, T:Material, bug

#457 Grid: remove ellipsis from checkbox selection column
  packages/default/scss/input/_layout.scss
Labels: C:Grid, T:Bootstrap, bug

#435 extract DateTime variables
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/datetime/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/datetime/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/datetime/_layout.scss
Labels: C:Dateinput, C:Datepicker, C:Datetimepicker, T:Bootstrap, T:Default, T:Material

#454 Grid: sort indexes are too close to the indicator
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/grid/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/grid/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Grid, T:Bootstrap, T:Default, T:Material

#504 Calendar: add styles needed in the jQuery calendar
  packages/default/scss/calendar/_theme.scss
Labels: C:Calendar

#456 Timepicker: minutes list is misaligned in IE and Edge
  packages/default/scss/datetime/_layout.scss
  packages/default/scss/mixins/core/_math.scss
Labels: C:Timepicker, T:Default, bug

#505 fix(switch): fix background-clip
  packages/default/scss/switch/_theme.scss
  tests/visual/output/default/switch.png
Labels: C:Switch, bug

#499 Pivotgrid: pdf export cell misalignment
  packages/default/scss/grid/_layout.scss
Labels: C:Pivotgrid

#498 Grid: remove ellipsis from checkbox column in IE and Edge
  packages/default/scss/input/_layout.scss
Labels: C:Grid, T:Bootstrap, T:Default, T:Material, bug
