Repository telerik/kendo-themes, pull requests merged in 2019-11, with the labels that each got.

#1005 refactor: streamline variables
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/autocomplete/_layout.scss
  packages/default/scss/colorpicker/_layout.scss
  packages/default/scss/combobox/_layout.scss
  packages/default/scss/combobox/_theme.scss
  packages/default/scss/common/_forms.scss
  packages/default/scss/multiselect/_layout.scss
  packages/material/scss/_variables.scss
Labels: Enhancement

#1002 fix: add transparent background to timeline and filter
  packages/default/scss/filter/_layout.scss
  packages/default/scss/timeline/_layout.scss
Labels: C:Filter, C:Timeline, bug

#1010 fix(treelist): locked column header to stick on both horizontal and v…
  packages/default/scss/treelist/_layout.scss
Labels: C:Treelist, FW:React, T:Bootstrap, T:Default, T:Material, bug

#1033 refactor(inputs): replace appearance mixin with fill and box-shadow
  packages/bootstrap/scss/input/_theme.scss
  packages/default/scss/input/_theme.scss
  packages/material/scss/input/_theme.scss
Labels: C:TextArea, Enhancement, FW:Angular, FW:React, T:Bootstrap, T:Default, T:Material

#1007 refactor(maskedtextbox): extract common styles
  packages/bootstrap/scss/maskedtextbox/_theme.scss
  packages/default/scss/common/_forms.scss
  packages/default/scss/maskedtextbox/_layout.scss
  packages/default/scss/maskedtextbox/_theme.scss
Labels: C:Maskedtextbox, Enhancement, FW:Angular, FW:React, T:Bootstrap, T:Default, T:Material

#1043 Grid: add cursor pointer to filter hover in blazor
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, FW:Blazor, bug

#1026 chore(calendar): add missing variables in Default and Material themes
  packages/default/scss/_variables.scss
  packages/material/scss/_variables.scss
Labels: C:Calendar, Enhancement, FW:Angular, FW:React, T:Default, T:Material

#1046 chore: trigger image tests
  tests/visual/output/material/colorpicker.png
  tests/visual/output/material/edit-dialog-form.png
  tests/visual/output/material/filter.png
  tests/visual/output/material/grid-editing-popup.png
  tests/visual/output/material/grid-editing.png
  tests/visual/output/material/grid-filter-menu.png
  tests/visual/output/material/grid.png
  tests/visual/output/material/inputs.png
  tests/visual/output/material/toolbar.png
Labels: T:Material

#1062 refactor: add grid pager numerictextbox style
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, Enhancement, FW:Angular, FW:React, FW:jQuery, T:Bootstrap, T:Default, T:Material

#1070 fix(tabstrip): remove default browser outline
  packages/default/scss/tabstrip/_layout.scss
Labels: C:Tabstrip, FW:Angular, FW:React, FW:jQuery, T:Bootstrap, T:Default, T:Material, bug

#1076 refactor(chat): nest avatar styles
  packages/default/scss/chat/_layout.scss
Labels: C:Chat, Enhancement, FW:Angular, FW:React, T:Bootstrap, T:Default, T:Material
