Repository telerik/kendo-themes, pull requests merged in 2019-07, with the labels that each got.

#803 Feat(slider): remove unnecessary css properties from k-draghandle class
  packages/default/scss/slider/_layout.scss
  tests/visual/colorpicker.html
  tests/visual/slider.html
Labels: C:Slider, Enhancement

#804 Fix(colorpicker): missing margins in RTL
  packages/default/scss/colorpicker/_layout.scss
  tests/integrity/fixtures/slider.html
  tests/visual/colorpicker-rtl.html
  tests/visual/colorpicker.html
  tests/visual/output/bootstrap/colorpicker-rtl.png
  tests/visual/output/default/colorpicker-rtl.png
  tests/visual/output/material/colorpicker-rtl.png
Labels: C:Colorpicker, bug

#831 fix: add toolbar to treelist sticky headers
  packages/default/scss/treelist/_layout.scss
  packages/material/scss/treelist/_layout.scss
Labels: C:Treelist
