Repository telerik/kendo-themes, pull requests merged in 2019-09, with the labels that each got.

#873 fix(progressbar): set initial size to progress so it animates smoothly
  packages/default/scss/progressbar/_layout.scss
Labels: bug

#911 fix(grid): page scroll on column chooser item click
  packages/default/scss/grid/_layout.scss
Labels: C:Checkbox, C:Grid, C:Radio, bug

#912 Calendar height in datepicker for blazor defeault theme layout
  packages/default/scss/calendar/_layout.scss
Labels: C:Calendar, FW:Blazor, bug, test:missing

#915 fix: speedup dart-sass compilation
  packages/theme-tasks/lib/tasks/sass.js
  packages/theme-tasks/lib/utils/nodesass-packageimporter.js
Labels: Enhancement
