Repository telerik/kendo-themes, pull requests merged in 2019-05, with the labels that each got.

#725 Grid: override adaptive edit form min-width
  packages/default/scss/adaptive/_layout.scss
Labels: C:Grid

#735 docs: fix bootstrap mismatching variable descriptions
  packages/bootstrap/docs/customization.md
  packages/bootstrap/scss/_variables.scss
Labels: T:Bootstrap

#748 Drawer: add scrolling styles supported in Mozilla
  packages/default/scss/drawer/_layout.scss
  packages/default/scss/drawer/_theme.scss
Labels: C:Drawer, Enhancement

#759 Cannot select text if the Grid is inside Splitter pane
  packages/default/scss/adaptive/_layout.scss
Labels: C:Grid, bug

#762 Grid: Material filter menu wrong font-weight
  packages/material/scss/grid/_layout.scss
Labels: C:Grid, T:Material
