Repository telerik/kendo-themes, pull requests merged in 2019-01, with the labels that each got.

#521 Chart: adding component specific background color variable
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/dataviz/_layout.scss
  packages/material/scss/_variables.scss
  tests/visual/chart.html
  tests/visual/output/bootstrap/chart.png
  tests/visual/output/default/chart.png
  tests/visual/output/material/chart.png
Labels: C:Chart

#522 Scrollview: add jQuery styles for static HTML scenario
  packages/default/scss/scrollview/_layout.scss
Labels: C:Scrollview

#528 fix(dropdowngrid): column width is not respected when virtualization is enabled
  packages/default/scss/dropdowngrid/_layout.scss
Labels: C:MultiColumnComboBox

#527 Pager: IE layout issues
  packages/default/scss/pager/_layout.scss
Labels: C:Pager, T:Bootstrap, T:Default, T:Material

#533 fix(dialog): there should be no spacing between streched buttons in rtl
  packages/default/scss/dialog/_layout.scss
Labels: C:Dialog, T:Bootstrap, T:Default, T:Material, bug

#531 fix: upload button has incorrect hover style in IE #197
  packages/default/scss/upload/_theme.scss
Labels: C:Upload, bug

#538 multiviewcalendar: background of range cells in IE and Edge
  packages/default/scss/calendar/_theme.scss
Labels: C:MultiviewCalendar

#544 Grid: grouping header positioning
  packages/default/scss/grid/_layout.scss
Labels: C:Grid

#547 fix(scheduler): angular edit form recurrence editor layout
  packages/default/scss/scheduler/_layout.scss
Labels: bug

#537 add DateTimePicker k2 rendering
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/action-buttons/_theme.scss
  packages/bootstrap/scss/datetime/_layout.scss
  packages/bootstrap/scss/grid/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/calendar/_layout.scss
  packages/default/scss/datetime/_layout.scss
  packages/default/scss/grid/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/datetime/_theme.scss
Labels: C:Datetimepicker, T:Bootstrap, T:Default, T:Material

#590 fix(scheduler): cell box-sizing in IE
  packages/default/scss/scheduler/_layout.scss
Labels: bug
