Repository telerik/kendo-themes, pull requests merged in 2019-03, with the labels that each got.

#610 Button: .k-button.k-flat:hover.k-state-active corrected color
  packages/bootstrap/scss/button/_theme.scss
  packages/default/scss/button/_theme.scss
  packages/material/scss/button/_theme.scss
Labels: C:Button, bug

#647 Tabstrip: scroll buttons rtl
  packages/default/scss/tabstrip/_layout.scss
Labels: C:Tabstrip, bug

#651 Toolbar: buttons in overflow menu in IE
  packages/default/scss/button/_layout.scss
  packages/default/scss/popup/_layout.scss
  packages/default/scss/toolbar/_layout.scss
Labels: C:Toolbar, bug

#654 Grid: column menu icon layout in IE
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug

#656 Treeview: dragging icon position
  packages/default/scss/treeview/_layout.scss
Labels: C:Treeview, bug

#666 Validator: layout changes
  packages/default/scss/validator/_layout.scss
  packages/material/scss/all.scss
  packages/material/scss/validator.scss
  packages/material/scss/validator/_layout.scss
  packages/material/scss/validator/_theme.scss
Labels: C:Validator
