Repository telerik/kendo-themes, pull requests merged in 2019-02, with the labels that each got.

#584 fix: combobox and textbox misaligned
  packages/material/scss/input/_theme.scss
Labels: C:Combobox, C:TextBoxContainer, T:Material, bug

#598 feat(treeview): add RTL for Angular TreeView
  packages/default/scss/common/_icons.scss
  packages/default/scss/treeview/_layout.scss
  tests/visual/treeview.html
Labels: C:Treeview, Enhancement

#599 Textbox added textbox selection color in material theme
  packages/material/scss/input/_theme.scss
Labels: T:Material, bug

#606 Menu: context menu horizontal layout
  packages/default/scss/menu/_layout.scss
Labels: C:Contextmenu, bug

#611 Grid: pdf export layout when pageSize is not set
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug

#614 Gantt: focused toolbar items styles
  packages/bootstrap/scss/gantt/_theme.scss
  packages/default/scss/common/_base.scss
  packages/default/scss/gantt/_theme.scss
  packages/material/scss/gantt/_layout.scss
Labels: C:Gantt, bug

#620 Scheduler: removed unnecessary selector
  packages/default/scss/scheduler/_theme.scss
  tests/visual/output/bootstrap/scheduler.png
  tests/visual/output/default/scheduler.png
  tests/visual/output/material/scheduler.png
  tests/visual/scheduler.html
Labels: C:Scheduler, bug

#627 Grouping header text overflows with frozen columns
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug

#613 Tabstrip: bottom scrolling buttons
  packages/default/scss/tabstrip/_layout.scss
  tests/visual/output/bootstrap/tabstrip.png
  tests/visual/output/default/tabstrip.png
  tests/visual/output/material/tabstrip.png
Labels: C:Tabstrip, bug

#616 Toolbar: added min-height
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/toolbar/_layout.scss
  packages/bootstrap/scss/toolbar/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/toolbar/_layout.scss
  packages/default/scss/toolbar/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/toolbar/_layout.scss
  packages/material/scss/toolbar/_theme.scss
  tests/visual/output/bootstrap/spreadsheet.png
  tests/visual/output/bootstrap/toolbar.png
  tests/visual/output/default/spreadsheet.png
  tests/visual/output/default/toolbar.png
  tests/visual/output/material/spreadsheet.png
  tests/visual/output/material/toolbar.png
  tests/visual/toolbar.html
Labels: C:Toolbar, bug

#624 Scheduler: various styles improvements
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/scheduler/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/scheduler/_layout.scss
  packages/material/scss/_variables.scss
  packages/material/scss/scheduler/_layout.scss
  packages/material/scss/scheduler/_theme.scss
  tests/visual/output/bootstrap/scheduler-angular.png
  tests/visual/output/bootstrap/scheduler.png
  tests/visual/output/default/scheduler-angular.png
  tests/visual/output/default/scheduler.png
  tests/visual/output/material/scheduler-angular.png
  tests/visual/output/material/scheduler.png
Labels: C:Scheduler, Enhancement

#636 Tabstrip: bottom scrolling buttons on IE
  packages/default/scss/tabstrip/_layout.scss
Labels: C:Tabstrip, bug
