Repository telerik/kendo-themes, pull requests merged in 2019-10, with the labels that each got.

#918 Menu: add focus state for material theme in kendo angular and react
  packages/material/scss/menu/_layout.scss
Labels: C:Menu, T:Material, bug

#932 feat(inputs): autofill support for floating labels
  packages/default/scss/input/_theme.scss
Labels: C:TextBoxContainer, Enhancement

#909 Flatten theme files for dist
  packages/theme-tasks/gulpfile.js
  packages/theme-tasks/package.json
Labels: Enhancement

#967 Dropdownlist: fix popup content overflowing when filtering is enabled
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/popup/_layout.scss
  packages/material/scss/_variables.scss
  packages/material/scss/popup/_layout.scss
Labels: C:Dropdownlist, bug, test:missing

#969 Switch: widget not rendered correctly in IE 9 and 10
  packages/default/scss/switch/_layout.scss
Labels: C:Switch, bug

#979 refactor(autocomplete): extract common styles
  packages/default/scss/autocomplete/_layout.scss
  packages/default/scss/autocomplete/_theme.scss
  packages/default/scss/common/_forms.scss
  packages/material/scss/autocomplete/_layout.scss
  packages/material/scss/autocomplete/_theme.scss
  packages/material/scss/common/_forms.scss
  packages/material/scss/grid/_layout.scss
Labels: C:Autocomplete, Enhancement, FW:Angular, FW:React, T:Bootstrap, T:Default, T:Material

#980 Multiselect: height with bootstrap integration
  packages/default/scss/common/_forms.scss
Labels: C:Multiselect, bug, test:missing

#991 fix(autocomplete): missing clear button on hover
  packages/default/scss/autocomplete/_layout.scss
Labels: C:Autocomplete, FW:Angular, FW:React, FW:jQuery, T:Bootstrap, T:Default, T:Material, bug, test:missing

#996 fix: remove ß from output
  packages/default/scss/radio/_theme.scss
  tests/visual/scheduler-angular-month.html
  tests/visual/scheduler-angular-rtl-month.html
Labels: bug

#997 Switch: off background not visible with dark swatches
  packages/default/scss/_variables.scss
Labels: C:Switch, bug, test:missing

#1006 fix(grid): edit selector for locked columns to be applied in both gri…
  packages/bootstrap/scss/grid/_theme.scss
  packages/default/scss/grid/_layout.scss
  packages/default/scss/grid/_theme.scss
  packages/material/scss/grid/_theme.scss
Labels: C:Grid, C:Treelist, FW:React, T:Bootstrap, T:Default, T:Material

#1009 fix(editor): whitespaces are trimmed at the end of a text in FF
  packages/default/scss/editor/_layout.scss
Labels: C:Editor, bug
