Repository telerik/kendo-themes, pull requests merged in 2020-08, with the labels that each got.

#1737 feat: provide additional theme color classes
  packages/default/scss/common/_decoration.scss
  packages/material/scss/_variables.scss
Labels: C:Utils, Enhancement

#1754 fix(textarea): add resizing in both directions
  packages/default/scss/textarea/_layout.scss
Labels: C:Textarea

#1765 Remove theme-tasks dependency
  .travis.yml
  build/foreach.sh
  build/install.sh
  packages/bootstrap/gulpfile.js
  packages/bootstrap/package-lock.json
  packages/bootstrap/package.json
  packages/default/gulpfile.js
  packages/default/package-lock.json
  packages/default/package.json
  packages/material/gulpfile.js
  packages/material/package-lock.json
  packages/material/package.json
  packages/nouvelle/gulpfile.js
  packages/nouvelle/package-lock.json
  packages/nouvelle/package.json
Labels: dependencies

#1773 chore(gantt): adjust GanttList header height for nested columns telerik/kendo#11149
  packages/default/scss/gantt/_layout.scss
Labels: C:Gantt, T:Bootstrap, T:Default, T:Material, test:missing

#1774 fix(breadcrumb): update items flex styling
  packages/default/scss/breadcrumb/_layout.scss
Labels: C:Breadcrumb, FW:Angular, T:Bootstrap, T:Default, T:Material, test:missing

#1787 fix(breadcrumb): update selector
  packages/default/scss/breadcrumb/_layout.scss
Labels: C:Breadcrumb, FW:Angular, T:Bootstrap, T:Default, T:Material, test:missing

#1791 fix: add icon sizes
  packages/default/scss/icons/_layout.scss
Labels: Enhancement, T:Bootstrap, T:Default, T:Material, test:missing

#1797 fix: remove unnecessary classes
  packages/default/scss/icons/_layout.scss
Labels: T:Bootstrap, T:Default, T:Material
