Repository telerik/kendo-themes, pull requests merged in 2020-01, with the labels that each got.

#1147 fix(scheduler): do not enforce scrolling for month view area when in flex-layout
  packages/default/scss/scheduler/_layout.scss
Labels: C:Scheduler, FW:Angular, bug

#1142 Calendar: prevent table cells from being cut
  packages/default/scss/calendar/_layout.scss
Labels: C:Calendar, FW:Blazor, bug

#1149 fix(editor): add readonly class
  packages/default/scss/editor/_layout.scss
Labels: C:Editor, FW:Angular, T:Bootstrap, T:Default, T:Material, bug

#1153 fix(ripple): temporarily hide ripple inside checkbox / radio label
  packages/default/scss/checkbox/_layout.scss
  packages/default/scss/radio/_layout.scss
Labels: C:Ripple, FW:Angular, FW:React, FW:jQuery

#1155 fix(chip): select icon position
  packages/default/scss/chip/_layout.scss
Labels: FW:Angular, T:Bootstrap, T:Default, T:Material, bug

#1156 chore(ripple): use visiblity hidden for temporarily hiding ripple in …
  packages/default/scss/checkbox/_layout.scss
  packages/default/scss/radio/_layout.scss
Labels: C:Ripple

#1165 fix: move api generation to theme-tasks
  packages/bootstrap/.sassdocrc
  packages/default/.sassdocrc
  packages/default/package-lock.json
  packages/default/package.json
  packages/material/.sassdocrc
  packages/theme-tasks/lib/docs/customization.md.hbs
  packages/theme-tasks/lib/docs/sassdoc-theme.js
Labels: internal

#1192 fix(tabstrip): add variables for item gradient
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/tabstrip/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Tabstrip, Enhancement

#1193 fix(chat): remove visible browser outline style
  packages/default/scss/chat/_layout.scss
Labels: C:Chat, FW:Angular, FW:React, T:Bootstrap, T:Default, T:Material, bug
