Repository telerik/kendo-themes, pull requests merged in 2020-02, with the labels that each got.

#1197 fix(slider): background-image empty url in material theme
  packages/bootstrap/scss/slider/_theme.scss
  packages/default/scss/mixins/_decoration.scss
  packages/default/scss/slider/_theme.scss
Labels: C:Slider, SEV:Medium, T:Material, bug

#1216 Consolidate barcode and qrcode with dataviz styles
  packages/bootstrap/scss/all.scss
  packages/bootstrap/scss/barcode.scss
  packages/bootstrap/scss/barcode/_layout.scss
  packages/bootstrap/scss/qrcode.scss
  packages/bootstrap/scss/qrcode/_layout.scss
  packages/default/scss/all.scss
  packages/default/scss/barcode.scss
  packages/default/scss/barcode/_layout.scss
  packages/default/scss/dataviz/_layout.scss
  packages/default/scss/qrcode.scss
  packages/default/scss/qrcode/_layout.scss
  packages/material/scss/all.scss
  packages/material/scss/barcode.scss
  packages/material/scss/barcode/_layout.scss
  packages/material/scss/qrcode.scss
  packages/material/scss/qrcode/_layout.scss
Labels: Enhancement

#1211 fix(gantt): consolidate gantt styles
  packages/bootstrap/scss/common/_all.scss
  packages/bootstrap/scss/common/_arrows.scss
  packages/bootstrap/scss/common/_lines.scss
  packages/default/scss/common/_all.scss
  packages/default/scss/common/_arrows.scss
  packages/default/scss/common/_lines.scss
  packages/default/scss/gantt/_layout.scss
  packages/material/scss/common/_all.scss
  packages/material/scss/common/_arrows.scss
  packages/material/scss/common/_lines.scss
Labels: C:Gantt, Enhancement

#1233 fix(textarea): extract scss variable
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/input/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Multiselect, C:Numerictextbox, C:TextArea, Enhancement, FW:Angular, FW:React, FW:jQuery, T:Bootstrap, T:Classic, T:Default, T:Material

#1230 docs: update paths on code snippets
  packages/bootstrap/docs/index.md
Labels: docs

#1238 fix(gantt): export with actual width
  packages/default/scss/gantt/_layout.scss
Labels: C:Gantt, bug

#1239 fix(drawer): fix flickering upon mini mode collapsing
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/drawer/_layout.scss
  packages/material/scss/_variables.scss
  tests/visual/drawer-overlay-mini.html
  tests/visual/output/bootstrap/drawer-overlay-mini.png
  tests/visual/output/bootstrap/drawer-overlay.png
  tests/visual/output/bootstrap/drawer-rtl.png
  tests/visual/output/bootstrap/drawer.png
  tests/visual/output/default/drawer-overlay-mini.png
  tests/visual/output/default/drawer-overlay.png
  tests/visual/output/default/drawer-rtl.png
  tests/visual/output/default/drawer.png
  tests/visual/output/material/drawer-overlay-mini.png
  tests/visual/output/material/drawer-overlay.png
  tests/visual/output/material/drawer-rtl.png
  tests/visual/output/material/drawer.png
Labels: C:Drawer, FW:Angular, FW:React, SEV:Low, T:Bootstrap, T:Default, T:Material, bug

#1249 fix: fix an issue with dart compilation
  packages/default/scss/functions/_config-maps.scss
Labels: bug, internal

#1185 Ensure widgets inside scheduler header or footer inherit font-size
  packages/default/scss/scheduler/_layout.scss
Labels: C:Datepicker, C:Scheduler, Enhancement, FW:React, SEV:Low, T:Material

#1260 fix(gantt): exported timeline does not expand to full width in ie
  packages/default/scss/gantt/_layout.scss
Labels: C:Gantt, bug

#1279 fix(dialog): extract titlebar color variables
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/dialog/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/dialog/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/dialog/_theme.scss
Labels: C:Dialog, T:Bootstrap, T:Material, bug

#1293 fix: replace lookup function with getType to support mime v2
  packages/theme-tasks/gulpfile.js
Labels: bug

#1294 chore: update font icons to latest version
  packages/default/scss/common/_icons.scss
  packages/default/scss/common/font/WebComponentsIcons.scss
  packages/default/scss/common/font/WebComponentsIcons.ttf
Labels: test:missing

#1292 update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/regression-report.md
Labels: internal

#1302 fix(dropdowntree): use fill mixin
  packages/bootstrap/scss/dropdowntree/_theme.scss
  packages/default/scss/dropdowntree/_layout.scss
  packages/default/scss/dropdowntree/_theme.scss
  packages/material/scss/dropdowntree/_layout.scss
  packages/material/scss/dropdowntree/_theme.scss
Labels: C:Dropdowntree, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1305 Generate documentation synchronously
  packages/theme-tasks/lib/docs/sassdoc-theme.js
Labels: docs, infrastructure, internal

#1304 fix(gantt): use fill mixin
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/gantt/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/gantt/_layout.scss
  packages/default/scss/gantt/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/gantt/_theme.scss
Labels: C:Gantt, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1316 refactor(calendar): add missing default flag
  packages/default/scss/_variables.scss
  packages/default/scss/calendar/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Calendar, Enhancement, T:Default

#1317 fix(pivotgrid): use fill mixin
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/pivotgrid/_layout.scss
  packages/bootstrap/scss/pivotgrid/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/pivotgrid/_layout.scss
  packages/default/scss/pivotgrid/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/pivotgrid/_layout.scss
  packages/material/scss/pivotgrid/_theme.scss
Labels: C:Pivotgrid, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1314 fix(listbox): use fill mixin
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/listbox/_layout.scss
  packages/bootstrap/scss/listbox/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/listbox/_layout.scss
  packages/default/scss/listbox/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/listbox/_layout.scss
  packages/material/scss/listbox/_theme.scss
Labels: C:Listbox, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material
