Repository telerik/kendo-themes, pull requests merged in 2020-09, with the labels that each got.

#1805 fix: update icons box-sizing
  packages/default/scss/input/_layout.scss
Labels: C:Textbox, T:Bootstrap, T:Default, T:Material, bug

#1807 sticky footerTemplate and groupHeaderColumnTemplate bg
  packages/bootstrap/scss/grid/_theme.scss
  packages/default/scss/grid/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/grid/_theme.scss
Labels: C:Grid, bug, test:missing

#1806 chore(gantt): planned vs actual telerik/kendo#11149
  packages/bootstrap/scss/_variables.scss
  packages/classic/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/gantt/_layout.scss
  packages/default/scss/gantt/_theme.scss
  packages/default/scss/mixins/_gradients.scss
  packages/material/scss/_variables.scss
Labels: C:Gantt, T:Bootstrap, T:Default, T:Material, test:missing

#1813 do not remove next col border if sticky col is hidden
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug, test:missing

#1812 show validation popups in sticky edit cell
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug, test:missing

#1810 dirty + sticky cell position
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug, test:missing

#1818 fix(spreadsheet): scroller should have a higher z-index on touch devices
  packages/default/scss/spreadsheet/_layout.scss
Labels: C:Spreadsheet, FW:jQuery, bug

#1819 overflow utility classes
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/utils/_index.scss
  packages/bootstrap/scss/utils/_overflow.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/utils/_index.scss
  packages/default/scss/_variables.scss
  packages/default/scss/utils/_index.scss
  packages/default/scss/utils/_overflow.scss
  packages/material/scss/_variables.scss
  packages/material/scss/utils/_index.scss
  packages/material/scss/utils/_overflow.scss
Labels: C:Utils, Enhancement

#1820 fix: remove clear button active background
  packages/default/scss/button/_theme.scss
  packages/material/scss/button/_theme.scss
Labels: C:Button, T:Bootstrap, T:Default, T:Material, bug

#1824 fix: add basic styles for svg icons
  packages/default/scss/icons/_layout.scss
Labels: T:Bootstrap, T:Default, T:Material

#1833 gantt fixes on QA comments: telerik/kendo#11149
  packages/bootstrap/scss/_variables.scss
  packages/classic/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/gantt/_layout.scss
  packages/default/scss/gantt/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Gantt, FW:jQuery, bug, test:missing

#1837 refactor: refactor bootstrap overrides file
  packages/bootstrap/scss/_bootstrap-overrides.scss
Labels: T:Bootstrap

#1841 fix(gantt): enable setting max-height to the gantt
  packages/default/scss/gantt/_layout.scss
Labels: C:Gantt, FW:React, bug

#1842 fix(calendar): center content of infinite calendar when width is wider
  packages/default/scss/calendar/_layout.scss
Labels: test:missing

#1848 add dark bootstrap-3 based swatch
  packages/bootstrap/scss/swatches/bootstrap-3-dark.scss
  packages/bootstrap/scss/swatches/bootstrap-3.scss
Labels: T:Bootstrap, integration

#1852 chore(deps): bump pastshots from 1.5.1 to 1.5.2
  package-lock.json
  package.json
Labels: dependencies, infrastructure, internal

#1853 fix: svg icon flip
  packages/default/scss/icons/_layout.scss
Labels: C:Icons, T:Bootstrap, T:Default, T:Material, bug, test:missing

#1856 Gantt fixes 2
  packages/bootstrap/scss/_variables.scss
  packages/classic/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/gantt/_layout.scss
  packages/default/scss/gantt/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Gantt, FW:jQuery, test:missing

#1877 infra(dependabot): remove monitoring of packages
  .github/dependabot.yml
Labels: internal

#1881 Pivot: row headers width in IE
  packages/default/scss/pivotgrid/_layout.scss
Labels: C:Pivotgrid, FW:jQuery, bug

#1879 extract avatar variables
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/avatar/_index.scss
  packages/bootstrap/scss/avatar/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/avatar/_index.scss
  packages/classic/scss/avatar/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/avatar/_index.scss
  packages/default/scss/avatar/_layout.scss
  packages/default/scss/avatar/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/avatar/_index.scss
  packages/material/scss/avatar/_variables.scss
Labels: C:Avatar, Enhancement

#1883 Extract appbar variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/appbar/_index.scss
  packages/bootstrap/scss/appbar/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/appbar/_index.scss
  packages/classic/scss/appbar/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/appbar/_index.scss
  packages/default/scss/appbar/_theme.scss
  packages/default/scss/appbar/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/appbar/_index.scss
  packages/material/scss/appbar/_variables.scss
Labels: C:AppBar, Enhancement

#1884 Extract breadcrumb variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/breadcrumb/_index.scss
  packages/bootstrap/scss/breadcrumb/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/breadcrumb/_index.scss
  packages/classic/scss/breadcrumb/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/breadcrumb/_index.scss
  packages/default/scss/breadcrumb/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/breadcrumb/_index.scss
  packages/material/scss/breadcrumb/_variables.scss
Labels: C:Breadcrumb, Enhancement

#1882 Extract badge variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/badge/_index.scss
  packages/bootstrap/scss/badge/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/badge/_index.scss
  packages/classic/scss/badge/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/badge/_index.scss
  packages/default/scss/badge/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/badge/_index.scss
  packages/material/scss/badge/_variables.scss
Labels: C:Badge, Enhancement

#1888 Extract chat variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/chat/_index.scss
  packages/bootstrap/scss/chat/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/chat/_index.scss
  packages/classic/scss/chat/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/card/_layout.scss
  packages/default/scss/chat/_index.scss
  packages/default/scss/chat/_layout.scss
  packages/default/scss/chat/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/chat/_index.scss
  packages/material/scss/chat/_variables.scss
Labels: C:Chat, Enhancement

#1889 Extract chip variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/chip/_index.scss
  packages/bootstrap/scss/chip/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/chip/_index.scss
  packages/classic/scss/chip/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/chip/_index.scss
  packages/default/scss/chip/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/chip/_index.scss
  packages/material/scss/chip/_variables.scss
Labels: C:Chip, Enhancement

#1890 Extract combobox variables in separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/combobox/_index.scss
  packages/bootstrap/scss/combobox/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/combobox/_index.scss
  packages/classic/scss/combobox/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/combobox/_index.scss
  packages/default/scss/combobox/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/combobox/_index.scss
  packages/material/scss/combobox/_variables.scss
Labels: C:Combobox, Enhancement

#1892 Extract dataviz variables into separete files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/dataviz/_index.scss
  packages/bootstrap/scss/dataviz/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/dataviz/_index.scss
  packages/classic/scss/dataviz/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/dataviz/_index.scss
  packages/default/scss/dataviz/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/dataviz/_index.scss
  packages/material/scss/dataviz/_variables.scss
Labels: C:Chart, C:Dataviz, C:TreeMap, Enhancement

#1893 Extract dialog variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/dialog/_index.scss
  packages/bootstrap/scss/dialog/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/dialog/_index.scss
  packages/classic/scss/dialog/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/dialog/_index.scss
  packages/default/scss/dialog/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/dialog/_index.scss
  packages/material/scss/dialog/_variables.scss
Labels: C:Dialog, Enhancement

#1894 Extract drawer variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/drawer/_index.scss
  packages/bootstrap/scss/drawer/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/drawer/_index.scss
  packages/classic/scss/drawer/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/drawer/_index.scss
  packages/default/scss/drawer/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/drawer/_index.scss
  packages/material/scss/drawer/_variables.scss
Labels: C:Drawer, Enhancement

#1895 Extract dropdowntree variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/dropdowntree/_index.scss
  packages/bootstrap/scss/dropdowntree/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/dropdowntree/_index.scss
  packages/classic/scss/dropdowntree/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/dropdowntree/_index.scss
  packages/default/scss/dropdowntree/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/dropdowntree/_index.scss
  packages/material/scss/dropdowntree/_variables.scss
Labels: C:Dropdowntree, Enhancement

#1898 Extract editor variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/editor/_index.scss
  packages/bootstrap/scss/editor/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/editor/_index.scss
  packages/classic/scss/editor/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/editor/_index.scss
  packages/default/scss/editor/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/editor/_index.scss
  packages/material/scss/editor/_variables.scss
Labels: C:Editor, Enhancement

#1899 Extract filemanager variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/filemanager/_index.scss
  packages/bootstrap/scss/filemanager/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/filemanager/_index.scss
  packages/classic/scss/filemanager/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/filemanager/_index.scss
  packages/default/scss/filemanager/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/filemanager/_index.scss
  packages/material/scss/filemanager/_variables.scss
Labels: C:FileManager, Enhancement

#1900 Extract filter variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/filter/_index.scss
  packages/bootstrap/scss/filter/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/filter/_index.scss
  packages/classic/scss/filter/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/filter/_index.scss
  packages/default/scss/filter/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/filter/_index.scss
  packages/material/scss/filter/_variables.scss
Labels: C:Filter, Enhancement

#1901 Extract gantt variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/gantt/_index.scss
  packages/bootstrap/scss/gantt/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/gantt/_index.scss
  packages/classic/scss/gantt/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/gantt/_index.scss
  packages/default/scss/gantt/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/gantt/_index.scss
  packages/material/scss/gantt/_variables.scss
Labels: C:Gantt, Enhancement

#1903 Extract image editor variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/imageeditor/_index.scss
  packages/bootstrap/scss/imageeditor/_variables.scss
  packages/classic/scss/all.scss
  packages/classic/scss/imageeditor/_index.scss
  packages/classic/scss/imageeditor/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/imageeditor/_index.scss
  packages/default/scss/imageeditor/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/imageeditor/_index.scss
  packages/material/scss/imageeditor/_variables.scss
Labels: C:ImageEditor, Enhancement

#1913 trigger image tests for firefox 81
  tests/visual/output/bootstrap/adaptive-grid-pager.png
  tests/visual/output/bootstrap/adaptive-scheduler-agenda.png
  tests/visual/output/bootstrap/adaptive-scheduler-day-resource-group.png
  tests/visual/output/bootstrap/adaptive-scheduler-day.png
  tests/visual/output/bootstrap/adaptive-scheduler-month.png
  tests/visual/output/bootstrap/grid-sticky-columns-rtl.png
  tests/visual/output/bootstrap/pager-responsive.png
  tests/visual/output/default/adaptive-grid-pager.png
  tests/visual/output/default/adaptive-scheduler-agenda.png
  tests/visual/output/default/adaptive-scheduler-day-resource-group.png
  tests/visual/output/default/adaptive-scheduler-day.png
  tests/visual/output/default/adaptive-scheduler-month.png
  tests/visual/output/default/grid-sticky-columns-rtl.png
  tests/visual/output/default/pager-responsive.png
  tests/visual/output/material/adaptive-grid-pager.png
  tests/visual/output/material/adaptive-scheduler-agenda.png
  tests/visual/output/material/adaptive-scheduler-day-resource-group.png
  tests/visual/output/material/adaptive-scheduler-day.png
  tests/visual/output/material/adaptive-scheduler-month.png
  tests/visual/output/material/grid-sticky-columns-rtl.png
  tests/visual/output/material/pager-responsive.png
Labels: internal

#1914 fix: use calc method to calculate radio line height
  packages/bootstrap/scss/radio/_variables.scss
  packages/classic/scss/radio/_variables.scss
  packages/default/scss/radio/_variables.scss
  packages/material/scss/radio/_variables.scss
Labels: C:Radio, Enhancement

#1916 fix(checkbox): use calc to calculate checkbox line height
  packages/bootstrap/scss/checkbox/_variables.scss
  packages/classic/scss/checkbox/_variables.scss
  packages/default/scss/checkbox/_variables.scss
  packages/material/scss/checkbox/_variables.scss
Labels: C:Checkbox, Enhancement

#1917 Form fixes
  packages/default/scss/forms/_layout.scss
Labels: C:Forms, Enhancement

#1926 Loading image: update border width
  packages/default/scss/common/_loading.scss
Labels: bug

#1927 chore: use grep -v instead of ls --ignore to populate themes constant
  build/constants.sh
Labels: infrastructure, internal

#1934 Extract grid variables into separate files
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/dropdowngrid/_index.scss
  packages/bootstrap/scss/grid/_index.scss
  packages/bootstrap/scss/grid/_variables.scss
  packages/classic/scss/_variables.scss
  packages/classic/scss/dropdowngrid/_index.scss
  packages/classic/scss/grid/_index.scss
  packages/classic/scss/grid/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/dropdowngrid/_index.scss
  packages/default/scss/grid/_index.scss
  packages/default/scss/grid/_variables.scss
  packages/material/scss/_variables.scss
  packages/material/scss/dropdowngrid/_index.scss
  packages/material/scss/grid/_index.scss
  packages/material/scss/grid/_variables.scss
Labels: C:Grid, Enhancement
