Repository telerik/kendo-themes, pull requests merged in 2020-05, with the labels that each got.

#1522 refactor(treeview): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/treeview/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Treeview, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1523 refactor(upload): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/upload/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Upload, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1527 fix(forms): various fixes and adjustments
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/checkbox/_layout.scss
  packages/default/scss/forms/_layout.scss
  packages/default/scss/forms/_theme.scss
  packages/material/scss/_variables.scss
  tests/visual/form-field-dateinputs.html
  tests/visual/form-field-dropdowns.html
  tests/visual/form-field-fieldset.html
  tests/visual/form-field-inputs-rtl.html
  tests/visual/form-field-inputs.html
Labels: C:Forms, FW:Angular, FW:React, FW:jQuery, T:Bootstrap, T:Classic, T:Default, T:Material

#1529 chore: trigger image tests for ff 76
  tests/visual/output/bootstrap/form.png
  tests/visual/output/default/form.png
  tests/visual/output/material/breadcrumb-rtl.png
  tests/visual/output/material/breadcrumb.png
  tests/visual/output/material/colorpicker-rtl.png
  tests/visual/output/material/colorpicker.png
  tests/visual/output/material/form.png
Labels: internal

#1528 refactor(forms): remove unnecessary selector
  packages/default/scss/forms/_layout.scss
Labels: C:Forms, Enhancement, FW:Angular, FW:React, FW:jQuery, T:Bootstrap, T:Classic, T:Default, T:Material

#1532 fix(drawer): remove item outline
  packages/default/scss/drawer/_layout.scss
Labels: C:Drawer, T:Bootstrap, T:Default, T:Material, bug

#1534 feat(utils): add layout utility classes
  packages/default/scss/common/_utils.scss
  packages/default/scss/common/utils/_layout.scss
Labels: Enhancement, FW:Angular, FW:Blazor, FW:React, FW:jQuery, T:Bootstrap, T:Classic, T:Default, T:Material

#1538 fix(filemanager): view container should overflow
  packages/default/scss/filemanager/_layout.scss
Labels: C:FileManager, FW:jQuery

#1544 fix(window): inherit border color for window content
  packages/default/scss/window/_layout.scss
Labels: C:Window, FW:jQuery, T:Default

#1552 chore: update dependencies after release
  packages/bootstrap/package-lock.json
  packages/default/package-lock.json
  packages/material/package-lock.json
  packages/theme-tasks/package-lock.json
Labels: infrastructure, internal

#1547 fix(slider): wrong icons directions in RTL mode
  packages/default/scss/slider/_layout.scss
  tests/visual/output/bootstrap/form-field-inputs-rtl.png
  tests/visual/output/bootstrap/slider.png
  tests/visual/output/default/form-field-inputs-rtl.png
  tests/visual/output/default/slider.png
  tests/visual/output/material/form-field-inputs-rtl.png
  tests/visual/output/material/slider.png
  tests/visual/slider.html
Labels: C:Slider, FW:Angular, FW:React, bug

#1558 fix: add utility is-dark / is-light color functions
  packages/default/scss/functions/_colors.scss
Labels: Enhancement

#1553 fix(grid): empty group header height in ie
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, FW:Angular, FW:React, T:Bootstrap, T:Classic, T:Default, T:Material, bug

#1555 refactor: move non crucial theme tasks to root of the repo
  .eslintignore
  .eslintrc.json
  .sasslintrc
  docs/nunjucks.js
  docs/sassdoc-theme.js
  docs/templates/customization-variable-group.md.njk
  docs/templates/customization.md.njk
  docs/templates/includes/mixins.md.njk
  docs/templates/includes/styles.md.njk
  docs/templates/includes/suggested-links.md.njk
  docs/templates/includes/theme-variables-row.md.njk
  docs/templates/includes/theme-variables-thead.md.njk
  gulpfile.js
  karma.conf.js
  lib/data-uri.template
  package-lock.json
  package.json
  packages/bootstrap/.sassdocrc
  packages/bootstrap/package.json
  packages/default/.sassdocrc
  packages/default/.sasslintrc
  packages/default/docs/customization-typography.md
  packages/default/docs/customization.md
  packages/default/package.json
  packages/material/.sassdocrc
  packages/material/.sasslintrc
  packages/material/package.json
  packages/theme-tasks/gulpfile.js
  packages/theme-tasks/package-lock.json
  packages/theme-tasks/package.json
  tests/integrity/autocomplete-qunit.js
  tests/integrity/button-qunit.js
  tests/integrity/colorpicker-qunit.js
  tests/integrity/combobox-qunit.js
  tests/integrity/data/metrics.js
  tests/integrity/datetime-qunit.js
  tests/integrity/dialog-qunit.js
  tests/integrity/dropdown-qunit.js
  tests/integrity/lib/helpers.js
  tests/integrity/maskedtextbox-qunit.js
  tests/integrity/multiselect-qunit.js
  tests/integrity/numeric-qunit.js
  tests/integrity/slider-qunit.js
  tests/integrity/upload-qunit.js
  tests/integrity/window-qunit.js
Labels: infrastructure, internal

#1574 fix(combobox): broken layout when virtual scrolling is enabled
  packages/default/scss/multiselect/_layout.scss
  packages/default/scss/popup/_layout.scss
Labels: C:Combobox, T:Bootstrap, T:Default, T:Material, bug

#1573 calendar: add style on hover state
  packages/default/scss/calendar/_theme.scss
Labels: C:Calendar, FW:Blazor, bug
