Repository telerik/kendo-themes, pull requests merged in 2020-04, with the labels that each got.

#1426 Sizing sistem base
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/material/scss/_variables.scss
Labels: Enhancement

#1441 bump package locks after publish
  packages/bootstrap/package-lock.json
  packages/default/package-lock.json
  packages/material/package-lock.json
  packages/theme-tasks/package-lock.json
Labels: internal

#1434 fix(switch): fix layout misalignment in IE11
  packages/default/scss/switch/_layout.scss
Labels: C:Switch, T:Bootstrap, T:Default, T:Material, bug, regression

#1451 Update @joneff/baka to mitigate caching issue when flattening files for dist
  packages/theme-tasks/package-lock.json
  packages/theme-tasks/package.json
Labels: bug, internal

#1456 add Cursor styles
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/all.scss
  packages/bootstrap/scss/cursor/_index.scss
  packages/bootstrap/scss/cursor/_layout.scss
  packages/bootstrap/scss/cursor/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/all.scss
  packages/default/scss/cursor/_index.scss
  packages/default/scss/cursor/_layout.scss
  packages/default/scss/cursor/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/all.scss
  packages/material/scss/cursor/_index.scss
  packages/material/scss/cursor/_layout.scss
  packages/material/scss/cursor/_theme.scss
Labels: Enhancement

#1461 refactor(forms): unnest hint and error styles
  packages/default/scss/forms/_layout.scss
  packages/default/scss/forms/_theme.scss
Labels: C:Forms, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1453 refactor(listbox): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/listbox/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Listbox, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1470 refactor(maskedtextbox): extract k-widget styles
  packages/default/scss/maskedtextbox/_layout.scss
  packages/default/scss/maskedtextbox/_theme.scss
Labels: C:Maskedtextbox, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1471 refactor(mediaplayer): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/mediaplayer/_layout.scss
  packages/default/scss/mediaplayer/_theme.scss
  packages/material/scss/_variables.scss
Labels: Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1472 refactor(menu): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/menu/_layout.scss
  packages/default/scss/menu/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/menu/_theme.scss
Labels: C:Menu, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1473 refactor(multiselect): extract k-widget styles
  packages/default/scss/multiselect/_layout.scss
  packages/default/scss/multiselect/_theme.scss
  packages/material/scss/multiselect/_theme.scss
Labels: C:Multiselect, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1478 refactor(pager): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/pager/_layout.scss
  packages/default/scss/pager/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Pager, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1476 refactor(numerictextbox): extract k-widget styles
  packages/default/scss/numerictextbox/_layout.scss
  packages/default/scss/numerictextbox/_theme.scss
Labels: C:Numerictextbox, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1479 refactor(panelbar): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/panelbar/_layout.scss
  packages/default/scss/panelbar/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/panelbar/_theme.scss
Labels: C:Panelbar, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1489 update docs resolvedValue color template
  packages/default/docs/customization-buttons.md
  packages/default/docs/customization-color-system.md
  packages/default/docs/customization-common.md
  packages/default/docs/customization.md
  packages/theme-tasks/docs/templates/includes/theme-variables-row.md.njk
Labels: docs

#1482 fix(stepper): step with label only does not appear focused when focus…
  packages/default/scss/stepper/_theme.scss
Labels: C:Stepper, bug

#1485 refactor(pdf-viewer): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/pdf-viewer/_layout.scss
  packages/default/scss/pdf-viewer/_theme.scss
  packages/material/scss/_variables.scss
Labels: Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1496 refactor(progressbar): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/progressbar/_layout.scss
  packages/default/scss/progressbar/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/progressbar/_theme.scss
Labels: C:Progressbar, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1497 refactor(rating): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/rating/_layout.scss
  packages/default/scss/rating/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Rating, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1498 refactor(scheduler): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/scheduler/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/adaptive/_layout.scss
  packages/default/scss/scheduler/_layout.scss
  packages/default/scss/scheduler/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/scheduler/_layout.scss
  packages/material/scss/scheduler/_theme.scss
Labels: C:Scheduler, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1510 refactor(scrollview): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/scrollview/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/scrollview/_layout.scss
  packages/default/scss/scrollview/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Scrollview, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1511 refactor(slider): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/slider/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Slider, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1513 refactor(spreadsheet): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/spreadsheet/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/spreadsheet/_layout.scss
  packages/default/scss/spreadsheet/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/spreadsheet/_theme.scss
Labels: C:Spreadsheet, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1514 refactor(stepper): extract k-widget styles
  packages/default/scss/stepper/_layout.scss
Labels: C:Stepper, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1515 refactor(switch): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/switch/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Switch, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1516 refactor(tabstrip): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/tabstrip/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Tabstrip, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1519 refactor(tooltip): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/tooltip/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Tooltip, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1518 refactor(toolbar): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/toolbar/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Toolbar, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1512 refactor(splitter): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/splitter/_layout.scss
  packages/default/scss/splitter/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Splitter, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material
