Repository telerik/kendo-themes, pull requests merged in 2020-11, with the labels that each got.

#2022 Add nightly ci github action
  .github/workflows/ci_nightly.yml
Labels: infrastructure, internal

#2019 Add CI Unit action
  .github/workflows/ci_unit.yml
  .travis.yml
  package.json
  tests/karma.conf.js
  tests/package.json
Labels: infrastructure, internal

#2006 refactor(calendar): add class selectors for table elements
  packages/default/scss/calendar/_layout.scss
  packages/default/scss/calendar/_theme.scss
  packages/material/scss/calendar/_layout.scss
Labels: C:Calendar, C:MultiviewCalendar, Enhancement, FW:Angular, FW:Blazor, FW:React, FW:jQuery, T:Bootstrap, T:Classic, T:Default, T:Material

#2029 Move releases to github actions
  .github/workflows/ci_visual.yml
  .github/workflows/release_dev.yml
  .github/workflows/release_stable.yml
  build/mark-checks.sh
Labels: infrastructure, internal

#2038 script for creating initial files for new components
  package.json
  scripts/new-component/create-component-files.js
  scripts/new-component/templates/_index.scss.njk
  scripts/new-component/templates/_layout.scss.njk
  scripts/new-component/templates/_theme.scss.njk
  scripts/new-component/templates/_variables.scss.njk
  scripts/utils.js
Labels: internal

#2053 fix: explicitely set box-sizing for better integration with Bootstrap
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, T:Bootstrap, T:Default, T:Material, bug

#2068 Detect changes for untracked files as well
  .github/workflows/ci_visual.yml
Labels: infrastructure, internal

#2064 fix(fab): add disabled styling for the items
  packages/default/scss/fab/_layout.scss
Labels: C:Fab, test:missing

#2070 fix(grid): import float utility
  packages/bootstrap/scss/grid/_index.scss
  packages/classic/scss/grid/_index.scss
  packages/default/scss/grid/_index.scss
  packages/material/scss/grid/_index.scss
Labels: C:Grid, bug

#2080 feat(utils): add grid-auto-flow unset class
  packages/default/scss/utils/_grid.scss
Labels: C:TileLayout, C:Utils, Enhancement, test:missing
