Repository telerik/kendo-themes, pull requests merged in 2020-07, with the labels that each got.

#1668 chore(scheduler): adjust RecEd numerics and ddls widths telerik/kendo#11112
  packages/default/scss/scheduler/_layout.scss
Labels: C:Scheduler, test:missing

#1713 fix: use node- and dart- sass directly instead of gulp-sass
  package-lock.json
  package.json
  packages/theme-tasks/gulpfile.js
  packages/theme-tasks/package-lock.json
  packages/theme-tasks/package.json
Labels: internal

#1728 fix(editor): add 100% height of the content
  packages/default/scss/editor/_layout.scss
Labels: C:Editor, FW:React, bug

#1732 infra(dependabot): include theme nouvelle
  .github/dependabot.yml
Labels: infrastructure, internal

#1739 Ship dist files based on node-sass build instead of dart-sass one
  .travis.yml
Labels: infrastructure, internal

#1370 refactor(buttons): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/button/_layout.scss
  packages/default/scss/button/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/button/_layout.scss
Labels: C:Button, C:Buttongroup, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material
