Repository telerik/kendo-themes, pull requests merged in 2020-03, with the labels that each got.

#1323 fix(scheduler): use fill mixin
  packages/bootstrap/scss/scheduler/_layout.scss
  packages/bootstrap/scss/scheduler/_theme.scss
  packages/default/scss/scheduler/_layout.scss
  packages/default/scss/scheduler/_theme.scss
  packages/material/scss/scheduler/_layout.scss
  packages/material/scss/scheduler/_theme.scss
Labels: C:Scheduler, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1326 refactor(splitter): bootstrap inherits default
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/splitter/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/splitter/_layout.scss
  packages/default/scss/splitter/_theme.scss
  packages/material/scss/_variables.scss
  packages/material/scss/splitter/_theme.scss
Labels: C:Splitter, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1330 fix(spreadsheet): use fill mixin
  packages/bootstrap/scss/spreadsheet/_layout.scss
  packages/bootstrap/scss/spreadsheet/_theme.scss
  packages/default/scss/spreadsheet/_layout.scss
  packages/default/scss/spreadsheet/_theme.scss
  packages/material/scss/spreadsheet/_layout.scss
  packages/material/scss/spreadsheet/_theme.scss
Labels: C:Spreadsheet, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1344 fix(dataviz): use fill mixin
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/dataviz/_layout.scss
  packages/default/scss/dataviz/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Chart, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1354 fix(map): use fill mixin
  packages/default/scss/map/_layout.scss
  packages/default/scss/map/_theme.scss
Labels: C:Map, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1357 fix(notification): use fill mixin
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/notification/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Notification, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1361 refactor(grid): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/adaptive/_layout.scss
  packages/default/scss/grid/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Grid, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1365 refactor(autocomplete): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/autocomplete/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Autocomplete, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1366 refactor(adaptive): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/adaptive/_layout.scss
  packages/default/scss/adaptive/_theme.scss
  packages/material/scss/_variables.scss
Labels: Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1367 refactor(breadcrumb): extract k-widget styles
  packages/bootstrap/scss/_bootstrap-overrides.scss
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/breadcrumb/_layout.scss
  packages/default/scss/breadcrumb/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Breadcrumb, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1373 refactor(calendar): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/calendar/_layout.scss
  packages/default/scss/calendar/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Calendar, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1378 refactor(chat): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/chat/_layout.scss
  packages/default/scss/chat/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Chat, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1381 refactor(colorpicker): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/colorpicker/_layout.scss
  packages/default/scss/colorpicker/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Colorpicker, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1382 chore: run visual tests in parallel
  build/create-screenshots.sh
  build/visual-test.sh
Labels: internal

#1388 Organize travis.yml file without changing what it does
  .travis.yml
Labels: internal

#1387 refactor(dataviz): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/dataviz/_layout.scss
  packages/default/scss/dataviz/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Chart, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1389 refactor(datetime): extract k-widget styles
  packages/default/scss/datetime/_layout.scss
  packages/default/scss/datetime/_theme.scss
  packages/material/scss/datetime/_theme.scss
Labels: C:Dateinput, C:Datepicker, C:Datetimepicker, C:Timepicker, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1390 refactor(window): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/window/_layout.scss
  packages/default/scss/window/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Window, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1392 refactor(drawer): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/drawer/_layout.scss
  packages/default/scss/drawer/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Drawer, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1412 bump dependencies
  packages/bootstrap/package-lock.json
  packages/default/package-lock.json
  packages/material/package-lock.json
  packages/theme-tasks/package-lock.json
  packages/theme-tasks/package.json
Labels: internal

#1397 refactor(badge): remove vars; generate colors
  packages/bootstrap/scss/_variables.scss
  packages/bootstrap/scss/badge/_theme.scss
  packages/default/scss/_variables.scss
  packages/default/scss/badge/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Badge, Enhancement, T:Bootstrap, T:Default, T:Material

#1413 fix(menu): menu shrinks in IE11
  packages/default/scss/menu/_layout.scss
Labels: C:Contextmenu, C:Filtermenu, C:Menu, T:Bootstrap, T:Default, T:Material, bug

#1402 refactor(editor): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/editor/_layout.scss
  packages/material/scss/_variables.scss
Labels: C:Editor, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1409 refactor(gantt): extract k-widget styles
  packages/bootstrap/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/gantt/_layout.scss
  packages/default/scss/gantt/_theme.scss
  packages/material/scss/_variables.scss
Labels: C:Gantt, Enhancement, T:Bootstrap, T:Classic, T:Default, T:Material

#1419 chore: bump package-lock after theme version
  packages/bootstrap/package-lock.json
  packages/default/package-lock.json
  packages/material/package-lock.json
  packages/theme-tasks/package-lock.json
Labels: internal

#1421 Listview: replace footer bottom border with top
  packages/default/scss/listview/_layout.scss
Labels: test:missing
