Repository telerik/kendo-themes, pull requests merged in 2021-01, with the labels that each got.

#2195 fix(fab): add RTL styles for Angular FAB
  packages/default/scss/fab/_layout.scss
Labels: C:Fab, FW:Angular, bug

#2203 fix: prevent suffix container from shrinking
  packages/default/scss/textarea/_layout.scss
Labels: C:Textarea, Enhancement, T:Bootstrap, T:Default, T:Material

#2209 fix(inputs): angular checkbox and radio labels on the same line
  packages/default/scss/checkbox/_layout.scss
  packages/default/scss/radio/_layout.scss
Labels: C:Checkbox, C:Radio, FW:Angular, bug

#2220 chore: remove redundant width from adaptive timezone editor
  packages/default/scss/adaptive/_layout.scss
Labels: C:Scheduler

#2212 feat: add $chart-pane-title-font-weight variable
  packages/bootstrap/scss/dataviz/_variables.scss
  packages/classic/scss/dataviz/_variables.scss
  packages/default/scss/dataviz/_layout.scss
  packages/default/scss/dataviz/_variables.scss
  packages/material/scss/dataviz/_variables.scss
Labels: C:Chart, Enhancement

#2224 Remove theme tasks from theme repo
  packages/theme-tasks/.gitignore
  packages/theme-tasks/CHANGELOG.md
  packages/theme-tasks/README.md
  packages/theme-tasks/index.js
  packages/theme-tasks/package-lock.json
  packages/theme-tasks/package.json
  packages/theme-tasks/scripts/prepublish.js
Labels: internal

#2228 use correct value for Bootstrap SM spacing
  packages/bootstrap/scss/_variables.scss
Labels: bug

#2225 use marging for MX and MY classes
  packages/default/scss/utils/_spacing.scss
Labels: C:Utils, bug

#2236 chore(editor): export as select with icon telerik/kendo#11997
  packages/bootstrap/scss/editor/_variables.scss
  packages/classic/scss/editor/_variables.scss
  packages/default/scss/editor/_layout.scss
  packages/default/scss/editor/_variables.scss
  packages/material/scss/editor/_layout.scss
  packages/material/scss/editor/_variables.scss
Labels: C:Editor, bug

#2244 fix(stepper): Stepper is missing progressbar styling
  packages/bootstrap/scss/stepper/_index.scss
  packages/classic/scss/stepper/_index.scss
  packages/default/scss/stepper/_index.scss
  packages/material/scss/stepper/_index.scss
Labels: C:Stepper, bug

#2239 fix(window): resize handles overflow container
  packages/default/scss/window/_layout.scss
Labels: C:Window, FW:React, FW:jQuery, bug

#2237 feat(notification): generate notification-themes map dynamically
  packages/bootstrap/scss/notification/_variables.scss
  packages/classic/scss/notification/_variables.scss
  packages/default/scss/notification/_variables.scss
  packages/material/scss/notification/_variables.scss
Labels: C:Notification, Enhancement
