Repository telerik/kendo-themes, pull requests merged in 2021-05, with the labels that each got.

#2472 fix(panelbar): the arrow icons are not aligned correctly in IE
  packages/default/scss/panelbar/_layout.scss
Labels: C:Panelbar, bug

#2488 Switch to monthly updates for dependabot
  .github/dependabot.yml
Labels: dependencies, internal

#2493 fix(scheduler): add selector for agenda view rows hover via class name
  packages/default/scss/scheduler/_layout.scss
  packages/default/scss/scheduler/_theme.scss
Labels: C:Scheduler, FW:React, Unite, integration, test:missing

#2509 fix(grid): import missing spacer dependency
  packages/bootstrap/scss/grid/_index.scss
  packages/classic/scss/grid/_index.scss
  packages/default/scss/grid/_index.scss
  packages/material/scss/grid/_index.scss
Labels: C:Grid, bug
