Repository telerik/kendo-themes, pull requests merged in 2021-03, with the labels that each got.

#2355 Switch: use current width for thumb left position
  packages/bootstrap/scss/switch/_variables.scss
  packages/classic/scss/switch/_variables.scss
  packages/default/scss/switch/_variables.scss
  packages/material/scss/switch/_variables.scss
Labels: C:Switch, FW:Blazor, FW:jQuery, bug

#2351 Circular Gauge: layout styles
  packages/default/scss/dataviz/_layout.scss
Labels: C:Dataviz

#2371 fix(calendar): navigation animation adjustments for angular
  packages/default/scss/calendar/_layout.scss
Labels: C:Calendar, FW:Angular, bug

#2368 fix(drawer): increase overlay selector specificity
  packages/default/scss/drawer/_layout.scss
Labels: C:Drawer, bug, test:missing

#2361 fix(dragdrop): add indicator container spacings for the KendoReact Grid
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, FW:React, regression

#2373 chore(editor): rename table- to element-resize-handle telerik/kendo#12101
  packages/default/scss/editor/_layout.scss
  packages/default/scss/editor/_theme.scss
  packages/material/scss/editor/_theme.scss
Labels: C:Editor, Enhancement, test:missing

#2380 feat: add interaction states for radio buttons
  packages/default/scss/radio/_layout.scss
  packages/default/scss/radio/_theme.scss
Labels: C:Radio, Enhancement

#2389 Dataviz: add Gauge styles
  packages/default/scss/dataviz/_layout.scss
Labels: C:Dataviz, Enhancement

#2396 fix(grid): apply correct styles for filer menu that is part of the po…
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, FW:React

#2391 move Default JSON swatches from ThemeBuilder repo
  packages/default/lib/themebuilder/black.json
  packages/default/lib/themebuilder/blue-opal.json
  packages/default/lib/themebuilder/default-black.json
  packages/default/lib/themebuilder/default-blue.json
  packages/default/lib/themebuilder/default-green.json
  packages/default/lib/themebuilder/default-orange.json
  packages/default/lib/themebuilder/default-purple.json
  packages/default/lib/themebuilder/default-turquoise.json
  packages/default/lib/themebuilder/default.json
  packages/default/lib/themebuilder/fiori.json
  packages/default/lib/themebuilder/flat.json
  packages/default/lib/themebuilder/forest.json
  packages/default/lib/themebuilder/metro-black.json
  packages/default/lib/themebuilder/metro.json
  packages/default/lib/themebuilder/moonlight.json
  packages/default/lib/themebuilder/nordic.json
  packages/default/lib/themebuilder/nova.json
  packages/default/lib/themebuilder/office365.json
  packages/default/lib/themebuilder/powder-blue.json
  packages/default/lib/themebuilder/silver.json
  packages/default/lib/themebuilder/uniform.json
  packages/default/lib/themebuilder/urban.json
  packages/default/lib/themebuilder/vintage.json
  packages/default/lib/themebuilder/wireframe.json
Labels: ThemeBuilder, internal

#2395 move Material JSON swatches from ThemeBuilder repo
  packages/material/lib/themebuilder/blue-gray-pink-light.json
  packages/material/lib/themebuilder/blue-lime-light.json
  packages/material/lib/themebuilder/blue-pink-dark.json
  packages/material/lib/themebuilder/blue-pink-light.json
  packages/material/lib/themebuilder/cyan-amber-dark.json
  packages/material/lib/themebuilder/deep-purple-light-green-light.json
  packages/material/lib/themebuilder/indigo-blue-dark.json
  packages/material/lib/themebuilder/indigo-blue-light.json
  packages/material/lib/themebuilder/indigo-pink-dark.json
  packages/material/lib/themebuilder/light-green-light-blue-dark.json
  packages/material/lib/themebuilder/light-green-light-blue-light.json
  packages/material/lib/themebuilder/material.json
  packages/material/lib/themebuilder/pink-cyan-light.json
  packages/material/lib/themebuilder/teal-orange-light.json
Labels: ThemeBuilder, internal
