Repository telerik/kendo-themes, pull requests merged in 2021-12, with the labels that each got.

#3015 Update dependencies
  package-lock.json
  package.json
Labels: dependencies

#3035 fix(grid): filter button is not visible in ie
  packages/default/scss/grid/_layout.scss
Labels: bug, C:Grid

#3043 fix(popover): remove absolute positioning of the popover element
  packages/default/scss/popover/_layout.scss
Labels: bug, C:Popover

#3056 docs: add index files to modules that have references in docs
  packages/bootstrap/scss/avatar/index.md
  packages/bootstrap/scss/button/index.md
  packages/bootstrap/scss/checkbox/index.md
  packages/bootstrap/scss/chip/index.md
  packages/bootstrap/scss/dropdowngrid/index.md
  packages/bootstrap/scss/list/index.md
  packages/bootstrap/scss/radio/index.md
  packages/bootstrap/scss/switch/index.md
  packages/default/scss/avatar/index.md
  packages/default/scss/checkbox/index.md
  packages/default/scss/chip/index.md
  packages/default/scss/dropdowngrid/index.md
  packages/default/scss/list/index.md
  packages/default/scss/radio/index.md
  packages/default/scss/switch/index.md
  packages/material/scss/avatar/index.md
  packages/material/scss/button/index.md
  packages/material/scss/checkbox/index.md
  packages/material/scss/chip/index.md
  packages/material/scss/dropdowngrid/index.md
  packages/material/scss/list/index.md
  packages/material/scss/radio/index.md
  packages/material/scss/switch/index.md
Labels: docs

#3068 fix(scrollview): correct translate direction in rtl
  packages/default/scss/scrollview/_layout.scss
Labels: C:Scrollview

#3079 chore(docs): update dropdowngrid docs
  docs/components/dropdowngrid/index.md
Labels: docs

#3049 Adjust styles for angular rendering
  packages/default/scss/filter/_layout.scss
  packages/default/scss/filter/_theme.scss
Labels: C:Filter, test:missing, FW:Angular

#3082 Add variables to allow customization when expanding panelbar
  packages/bootstrap/scss/panelbar/_variables.scss
  packages/classic/scss/panelbar/_variables.scss
  packages/default/scss/panelbar/_theme.scss
  packages/default/scss/panelbar/_variables.scss
  packages/material/scss/panelbar/_variables.scss
Labels: C:Panelbar

#3111 Add styles for virtual scroller component
  packages/bootstrap/scss/index.scss
  packages/bootstrap/scss/virtual-scroller/_index.scss
  packages/bootstrap/scss/virtual-scroller/_layout.scss
  packages/bootstrap/scss/virtual-scroller/_theme.scss
  packages/bootstrap/scss/virtual-scroller/_variables.scss
  packages/classic/scss/index.scss
  packages/classic/scss/virtual-scroller/_index.scss
  packages/classic/scss/virtual-scroller/_layout.scss
  packages/classic/scss/virtual-scroller/_theme.scss
  packages/classic/scss/virtual-scroller/_variables.scss
  packages/default/scss/_layout.scss
  packages/default/scss/index.scss
  packages/default/scss/virtual-scroller/_index.scss
  packages/default/scss/virtual-scroller/_layout.scss
  packages/default/scss/virtual-scroller/_theme.scss
  packages/default/scss/virtual-scroller/_variables.scss
  packages/material/scss/index.scss
  packages/material/scss/virtual-scroller/_index.scss
  packages/material/scss/virtual-scroller/_layout.scss
  packages/material/scss/virtual-scroller/_theme.scss
  packages/material/scss/virtual-scroller/_variables.scss
Labels: Enhancement

#3093 fix(tabstrip): Fix tab overflow when scrollable is set to false
  packages/default/scss/tabstrip/_layout.scss
Labels: C:Tabstrip

#3102 Remove unexpected margin before a form field preceded by hidden field
  packages/default/scss/forms/_layout.scss
Labels: C:Forms, test:missing

#3113 fix(list): set item cursor to pointer
  packages/default/scss/list/_layout.scss
Labels: C:List

#3114 fix(input): input button should not have a focus shadow
  packages/default/scss/input/_layout.scss
Labels: C:Inputs

#3115 chore(list): update readme with filter and no-data rendering
  packages/html/src/list/README.md
Labels: C:List

#3116 Fix treeview group reset
  packages/default/scss/treeview/_layout.scss
Labels: C:Treeview
