Repository telerik/kendo-themes, pull requests merged in 2021-09, with the labels that each got.

#2749 Update bootstrap dependencies
  packages/bootstrap/package-lock.json
  packages/bootstrap/package.json
Labels: dependencies

#2753 fix: add kendo font sizes to the Bootstrap theme
  packages/default/scss/utils/_text.scss
Labels: T:Bootstrap

#2754 Switch from display inline-flex to flex to remove extra space
  packages/default/scss/tooltip/_layout.scss
Labels: C:Tooltip

#2755 Scheduler resource cells should not flex
  packages/default/scss/scheduler/_layout.scss
Labels: C:Scheduler

#2779 use conditional colors for tooltip in bootstrap dark swatches
  packages/bootstrap/scss/_bootstrap-overrides.scss
Labels: bug, C:Tooltip, T:Bootstrap

#2781 Prevent visual tests to run in v5-dev branch
  .github/workflows/ci_visual.yml
Labels: internal, infrastructure

#2816 fix(grid): replace hardcoded vertical border width
  packages/default/scss/grid/_layout.scss
Labels: C:Grid
