Repository telerik/kendo-themes, pull requests merged in 2021-04, with the labels that each got.

#2412 Focus should be on root and not on wrapper
  packages/default/scss/treeview/_layout.scss
Labels: C:Treeview, Enhancement, FW:jQuery

#2435 fix: remove active styles
  packages/default/scss/bottom-navigation/_theme.scss
Labels: C:BottomNav, T:Bootstrap, T:Default, T:Material, bug

#2436 fix: add focus state for draghandle
  packages/default/scss/colorpicker/_theme.scss
Labels: C:Colorpicker, Enhancement, FW:Angular, T:Bootstrap, T:Default, T:Material, test:missing

#2437 fix: set zIndex
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, FW:Angular, T:Bootstrap, T:Default, T:Material, bug

#2438 Add new icons to font
  packages/default/scss/icons/_layout.scss
  packages/default/scss/icons/font/WebComponentsIcons.scss
  packages/default/scss/icons/font/WebComponentsIcons.ttf
Labels: C:Icons, Enhancement

#2441 Reset position of action sheet in popup
  packages/default/scss/action-sheet/_layout.scss
Labels: C:Actionsheet, Enhancement, test:missing

#2442 Angular grid fixes
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, bug

#2445 chore(taskboard): set overflow wrapping for pane title
  packages/default/scss/taskboard/_layout.scss
Labels: C:Taskboard, test:missing

#2449 chore(scheduler): add spacing to year view calendar in safari and ie
  packages/default/scss/scheduler/_layout.scss
Labels: C:Scheduler

#2451 fix(taskboard): scope category border selector in rtl
  packages/default/scss/taskboard/_layout.scss
Labels: C:Taskboard, Enhancement
