Repository telerik/kendo-themes, pull requests merged in 2021-07, with the labels that each got.

#2583 chore: update swatches names in schema
  packages/bootstrap/lib/swatches/main-dark.json
  packages/bootstrap/lib/swatches/main.json
  packages/classic/lib/swatches/green-dark.json
  packages/classic/lib/swatches/main-dark.json
  packages/classic/lib/swatches/main.json
  packages/classic/lib/swatches/silver-dark.json
  packages/classic/lib/swatches/silver.json
  packages/default/lib/swatches/blue.json
  packages/default/lib/swatches/green.json
  packages/default/lib/swatches/main-dark.json
  packages/default/lib/swatches/main.json
  packages/default/lib/swatches/orange.json
  packages/default/lib/swatches/purple.json
  packages/default/lib/swatches/turquoise.json
  packages/material/lib/swatches/burnt-teal.json
  packages/material/lib/swatches/lime.json
  packages/material/lib/swatches/sky.json
Labels: ThemeBuilder, integration

#2582 docs: update README for visual tests
  tests/visual/README.md
Labels: docs

#2587 Keep font-face styles at root so nesthet themes will work
  packages/default/scss/icons/_layout.scss
Labels: C:Icons, bug

#2591 Use spacing map to size upload items
  packages/bootstrap/scss/upload/_variables.scss
  packages/classic/scss/upload/_variables.scss
  packages/default/scss/upload/_variables.scss
  packages/material/scss/upload/_variables.scss
Labels: C:Upload, Enhancement

#2592 Introduce variables for scheduler cell padding
  packages/bootstrap/scss/scheduler/_variables.scss
  packages/classic/scss/scheduler/_variables.scss
  packages/default/scss/scheduler/_layout.scss
  packages/default/scss/scheduler/_variables.scss
  packages/material/scss/scheduler/_variables.scss
Labels: C:Scheduler, Enhancement

#2598 Add styles for toolbar group
  packages/default/scss/toolbar/_layout.scss
Labels: C:Scheduler, C:Toolbar, Enhancement, FW:Angular

#2600 Use scheduler-cell-padding variable for all cells
  packages/default/scss/scheduler/_layout.scss
Labels: C:Scheduler, Enhancement

#2581 Remove legacy styles for calendar
  packages/bootstrap/scss/calendar/_variables.scss
  packages/classic/scss/calendar/_variables.scss
  packages/default/scss/calendar/_layout.scss
  packages/default/scss/calendar/_variables.scss
  packages/material/scss/calendar/_variables.scss
Labels: C:Calendar, Enhancement, FW:React

#2609 Remove bootstrap form overrides
  packages/bootstrap/scss/forms/_layout.scss
  packages/default/scss/forms/_layout.scss
Labels: Enhancement, T:Bootstrap, integration

#2617 fix(input): reduce direct referencing of bootstrap variables
  packages/bootstrap/scss/_bootstrap-overrides.scss
Labels: C:Inputs, Enhancement, T:Bootstrap, integration

#2645 Animations in kendo-jquery-calendar are broken
  packages/default/scss/calendar/_layout.scss
Labels: C:Calendar, FW:jQuery, bug

#2649 fix(colorpicker): add k-hstack where needed
  packages/default/scss/colorpicker/_layout.scss
Labels: C:Colorpicker, FW:Angular

#2647 chore: fix CDN publish workflow
  .github/workflows/publish_swatches.yml
Labels: infrastructure

#2654 Don't test against node 16 in workflows
  .github/workflows/ci_dev.yml
Labels: infrastructure, internal

#2656 Update dependencies after release
  package-lock.json
  package.json
  packages/bootstrap/package-lock.json
  packages/classic/package-lock.json
  packages/default/package-lock.json
  packages/default/package.json
  packages/material/package-lock.json
  packages/nouvelle/package-lock.json
Labels: dependencies, internal

#2310 Move create-component-files to theme-tasks
  gulpfile.js
  package.json
  scripts/new-component/create-component-files.js
  scripts/new-component/templates/_index.scss.njk
  scripts/new-component/templates/_layout.scss.njk
  scripts/new-component/templates/_theme.scss.njk
  scripts/new-component/templates/_variables.scss.njk
Labels: internal

#2659 Do not explictly include mixins in asset files
  lib/data-uri.template
  packages/bootstrap/scss/colorpicker/images/alpha-slider-bgr-reversed.scss
  packages/bootstrap/scss/colorpicker/images/alpha-slider-bgr.scss
  packages/bootstrap/scss/map/images/markers.scss
  packages/bootstrap/scss/spreadsheet/images/image-default.scss
  packages/classic/scss/colorpicker/images/alpha-slider-bgr-reversed.scss
  packages/classic/scss/colorpicker/images/alpha-slider-bgr.scss
  packages/classic/scss/map/images/markers.scss
  packages/classic/scss/slider/images/slider-h.scss
  packages/classic/scss/slider/images/slider-v.scss
  packages/classic/scss/spreadsheet/images/image-default.scss
  packages/default/scss/colorpicker/images/alpha-slider-bgr-reversed.scss
  packages/default/scss/colorpicker/images/alpha-slider-bgr.scss
  packages/default/scss/icons/font/WebComponentsIcons.scss
  packages/default/scss/map/images/markers.scss
  packages/default/scss/slider/images/slider-h.scss
  packages/default/scss/slider/images/slider-v.scss
  packages/default/scss/spreadsheet/images/image-default.scss
  packages/material/scss/colorpicker/images/alpha-slider-bgr-reversed.scss
  packages/material/scss/colorpicker/images/alpha-slider-bgr.scss
  packages/material/scss/map/images/markers.scss
  packages/material/scss/spreadsheet/images/image-default.scss
Labels: Enhancement

#2660 Infinite calendar does not scroll as it should
  packages/default/scss/calendar/_layout.scss
Labels: C:Calendar, FW:Angular, FW:React, regression

#2661 Simplify how dev release is triggered
  .github/workflows/release_dev.yml
Labels: infrastructure, internal

#2662 Use token for merge master workflow
  .github/workflows/merge_develop.yml
Labels: infrastructure, internal

#2663 Upgrade to lerna 4
  .github/workflows/release_dev.yml
  .github/workflows/release_stable.yml
  lerna.json
  package-lock.json
  package.json
Labels: infrastructure, internal

#2670 Update theme-tasks to 1.12.1
  gulpfile.js
  package-lock.json
  package.json
Labels: dependencies, internal
