Repository telerik/kendo-themes, pull requests merged in 2021-08, with the labels that each got.

#2682 fix(grid): import skeleton dependency
  packages/bootstrap/scss/grid/_index.scss
  packages/classic/scss/grid/_index.scss
  packages/default/scss/grid/_index.scss
  packages/material/scss/grid/_index.scss
Labels: C:Grid, bug

#2684 Update baka to 1.0.1
  gulpfile.js
  package-lock.json
  package.json
Labels: dependencies, internal

#2690 feat(gantt): add treelist scrollable class
  packages/default/scss/gantt/_layout.scss
Labels: Enhancement, C:Gantt, FW:Angular, FW:Blazor

#2692 fix(gantt): dependencies svg styles should not be scoped for react only
  packages/default/scss/gantt/_layout.scss
  packages/default/scss/gantt/_theme.scss
Labels: bug, C:Gantt

#2699 Reword bootstrap theme readme to not specify bootstrap version
  packages/bootstrap/README.md
Labels: docs

#2700 Use higher zindex for sticky appbar
  packages/bootstrap/scss/appbar/_variables.scss
  packages/classic/scss/appbar/_variables.scss
  packages/default/scss/appbar/_layout.scss
  packages/default/scss/appbar/_variables.scss
  packages/material/scss/appbar/_variables.scss
Labels: test:missing, C:AppBar

#2704 Remove redundant styles from adaptive scheduler / grid
  packages/bootstrap/scss/adaptive/_theme.scss
  packages/material/scss/adaptive/_theme.scss
Labels: Enhancement, C:Grid, C:Scheduler

#2705 Do not use unitless sizes which invalidate calc expressions
  packages/bootstrap/scss/fab/_variables.scss
  packages/classic/scss/fab/_variables.scss
  packages/default/scss/fab/_variables.scss
  packages/material/scss/fab/_variables.scss
Labels: bug, C:Fab

#2706 Style splitbar focus instead of active state
  packages/default/scss/splitter/_theme.scss
Labels: C:Splitter

#2707 Message box uses white background in dark themes
  packages/material/scss/chat/_variables.scss
Labels: T:Material, C:Chat

#2708 Pass version as environmental variable
  .github/workflows/release_dev.yml
Labels: internal, infrastructure

#2709 Expose variables to control chat width and height
  packages/bootstrap/scss/chat/_variables.scss
  packages/classic/scss/chat/_variables.scss
  packages/default/scss/chat/_layout.scss
  packages/default/scss/chat/_variables.scss
  packages/material/scss/chat/_variables.scss
Labels: C:Chat

#2710 Increase minimum popup width
  packages/bootstrap/scss/datetime/_variables.scss
  packages/classic/scss/datetime/_variables.scss
  packages/default/scss/datetime/_variables.scss
  packages/material/scss/datetime/_variables.scss
Labels: C:Datetimepicker, test:missing

#2711 Items should have lower z-index by default
  packages/default/scss/tilelayout/_layout.scss
Labels: C:TileLayout

#2712 Task details tooltip should not wrap its content
  packages/default/scss/gantt/_layout.scss
Labels: C:Gantt

#2739 Improve readme files
  README.md
  packages/bootstrap/README.md
  packages/bootstrap/package.json
  packages/classic/README.md
  packages/classic/package.json
  packages/default/README.md
  packages/default/package.json
  packages/material/README.md
  packages/material/package.json
  packages/nouvelle/README.md
  packages/nouvelle/package.json
Labels: docs, internal
