Repository telerik/kendo-themes, pull requests merged in 2022-11, with the labels that each got.

#4065 fix(notification): add z-index to guarantee notifications stay on top
  packages/default/scss/notification/_layout.scss
  packages/fluent/scss/notification/_layout.scss
Labels: C:Notification

#4091 Include swatches in nuget dist
  .github/workflows/nuget_publish.yml
Labels: FW:Blazor, internal

#4098 fix(switch): missing border utility dependency
  packages/bootstrap/scss/switch/_index.scss
  packages/classic/scss/switch/_index.scss
  packages/default/scss/switch/_index.scss
  packages/material/scss/switch/_index.scss
Labels: bug, C:Switch

#4102 fix(treelist): missing text utility dependency
  packages/bootstrap/scss/treelist/_index.scss
  packages/classic/scss/treelist/_index.scss
  packages/default/scss/treelist/_index.scss
  packages/material/scss/treelist/_index.scss
Labels: bug, C:Treelist

#4095 fix(html-spec): pack schemas for release
  packages/html-spec/package.json
Labels: bug

#4116 docs(fluent): update overview article
  packages/fluent/docs/index.md
Labels: docs

#4124 Еxplicitly download firefox in actions
  .github/workflows/ci_visual.yml
Labels: internal, infra:github

#4130 Native textarea should have a scrollbar by default
  packages/default/scss/input/_layout.scss
  packages/fluent/scss/input/_layout.scss
  packages/nouvelle/scss/input/_layout.scss
Labels: C:Textarea

#4128 Cache root node_modules to speedup builds
  .github/workflows/ci_dev.yml
  .github/workflows/ci_next.yml
  .github/workflows/ci_unit.yml
  .github/workflows/ci_visual.yml
  .github/workflows/compile_themes.yml
  .github/workflows/create_snapshots.yml
  .github/workflows/nuget_publish.yml
  .github/workflows/publish_swatches.yml
  .github/workflows/release_dev.yml
  .github/workflows/release_next.yml
  .github/workflows/release_stable.yml
  .github/workflows/tag_stable.yml
Labels: internal, infra:github

#4135 Improve dependency specification
  gulpfile.js
  package-lock.json
  package.json
  packages/bootstrap/package-lock.json
  packages/bootstrap/package.json
  packages/bootstrap/sass.config.js
  packages/classic/package-lock.json
  packages/classic/package.json
  packages/classic/sass.config.js
  packages/core/package-lock.json
  packages/core/package.json
  packages/core/sass.config.js
  packages/default/package-lock.json
  packages/default/package.json
  packages/default/sass.config.js
  packages/fluent/package-lock.json
  packages/fluent/package.json
  packages/fluent/sass.config.js
  packages/html/package-lock.json
  packages/html/package.json
  packages/material/package-lock.json
  packages/material/package.json
  packages/material/sass.config.js
  packages/nouvelle/package-lock.json
  packages/nouvelle/package.json
  packages/nouvelle/sass.config.js
  packages/utils/package-lock.json
  packages/utils/package.json
  packages/utils/sass.config.js
Labels: Enhancement, infra:build

#4108 Fix NuGet publishing
  .github/workflows/publish_nuget.yml
Labels: infrastructure
