Repository telerik/kendo-themes, pull requests merged in 2022-04, with the labels that each got.

#3509 Add utility classes for white space wrapping
  packages/default/scss/utils/_text.scss
Labels: Enhancement, C:Utils

#3513 Trugger image tests
  tests/visual/output/bootstrap/misc/adaptive-scheduler-agenda.png
  tests/visual/output/bootstrap/misc/adaptive-scheduler-day-resource-group.png
  tests/visual/output/bootstrap/misc/adaptive-scheduler-day.png
  tests/visual/output/bootstrap/misc/adaptive-scheduler-month.png
  tests/visual/output/classic/misc/adaptive-scheduler-agenda.png
  tests/visual/output/classic/misc/adaptive-scheduler-day-resource-group.png
  tests/visual/output/classic/misc/adaptive-scheduler-day.png
  tests/visual/output/classic/misc/adaptive-scheduler-month.png
  tests/visual/output/default/misc/adaptive-scheduler-agenda.png
  tests/visual/output/default/misc/adaptive-scheduler-day-resource-group.png
  tests/visual/output/default/misc/adaptive-scheduler-day.png
  tests/visual/output/default/misc/adaptive-scheduler-month.png
  tests/visual/output/material/misc/adaptive-scheduler-agenda.png
  tests/visual/output/material/misc/adaptive-scheduler-day-resource-group.png
  tests/visual/output/material/misc/adaptive-scheduler-day.png
  tests/visual/output/material/misc/adaptive-scheduler-month.png
Labels: internal

#3549 chore: trigger image tests in ff
  tests/visual/output/bootstrap/misc/barcode.png
  tests/visual/output/classic/misc/barcode.png
  tests/visual/output/default/misc/barcode.png
  tests/visual/output/material/misc/barcode.png
Labels: internal

#3533 Аdd button structure json
  packages/html/src/button/button-structure.json
Labels: integration, interop:Unite

#3555 fix(gantt): dependency validation tooltip adjustments
  packages/bootstrap/scss/gantt/_variables.scss
  packages/classic/scss/gantt/_variables.scss
  packages/default/scss/gantt/_layout.scss
  packages/default/scss/gantt/_variables.scss
  packages/material/scss/gantt/_variables.scss
Labels: bug, C:Gantt

#3556 Expose item border width and style variables
  packages/bootstrap/scss/panelbar/_variables.scss
  packages/classic/scss/panelbar/_variables.scss
  packages/default/scss/panelbar/_layout.scss
  packages/default/scss/panelbar/_variables.scss
  packages/material/scss/panelbar/_variables.scss
Labels: C:Panelbar

#3564 Add missing styles to numeric-filter-menu
  packages/default/scss/grid/_layout.scss
Labels: C:Grid, FW:Angular

#3567 Calendar allow usage of k-focus k-hover k-selected k-active classes
  packages/default/scss/calendar/_theme.scss
Labels: Enhancement, C:Calendar, C:MultiviewCalendar
