Repository telerik/kendo-themes, pull requests merged in 2022-01, with the labels that each got.

#3133 Update dependencies
  package-lock.json
  package.json
  packages/html/package-lock.json
  packages/html/package.json
Labels: internal, dependencies

#3141 Hide overflow when frozen columns exceed spreadsheet width
  packages/default/scss/spreadsheet/_layout.scss
Labels: C:Spreadsheet

#3191 fix(grid): fix background color on selected cell when hovered
  packages/bootstrap/scss/grid/_theme.scss
  packages/default/scss/grid/_theme.scss
Labels: C:Grid

#3208 fix: remove :invalid selector from themes
  packages/default/scss/checkbox/_theme.scss
  packages/default/scss/input/_theme.scss
Labels: C:Inputs

#3190 fix(editor): floating toolbar should take available width
  packages/default/scss/toolbar/_layout.scss
Labels: C:Editor

#3192 fix: reset margin for inputs and pickers direct children v5
  packages/default/scss/input/_layout.scss
Labels: C:Autocomplete, C:Combobox, C:Inputs

#3231 Tweak slider so it works with extra slider-wrap element
  packages/default/scss/slider/_layout.scss
Labels: Enhancement, C:Slider, FW:Angular

#3228 fix(timeselector): remove outline
  packages/default/scss/timeselector/_layout.scss
Labels: Enhancement, C:TimeSelector

#3240 Menu item focus v5
  packages/default/scss/menu/_theme.scss
Labels: C:Menu

#3246 fix(grid): remove separate hover styling on detail row container
  packages/bootstrap/scss/grid/_theme.scss
  packages/default/scss/grid/_theme.scss
  packages/material/scss/grid/_theme.scss
Labels: C:Grid

#3261 fix(daterangepicker): set default width for dateinputs
  packages/bootstrap/scss/daterangepicker/_variables.scss
  packages/classic/scss/daterangepicker/_variables.scss
  packages/default/scss/daterangepicker/_layout.scss
  packages/default/scss/daterangepicker/_variables.scss
  packages/default/scss/forms/_layout.scss
  packages/material/scss/daterangepicker/_variables.scss
Labels: bug, C:DateRangePicker

#3262 fix(panelbar): scope content styles
  packages/default/scss/panelbar/_layout.scss
Labels: C:Panelbar

#3276 Trigger image tests in firefox 96
  tests/visual/output/bootstrap/reference/layout/hstack.png
  tests/visual/output/classic/reference/layout/hstack.png
  tests/visual/output/default/reference/layout/hstack.png
  tests/visual/output/material/reference/layout/hstack.png
  tests/visual/output/nouvelle/reference/layout/hstack.png
Labels: internal

#3272 fix(button): use kendo-button prefix in swatch definitions
  packages/bootstrap/lib/swatches/bootstrap-3-dark.json
  packages/bootstrap/lib/swatches/bootstrap-3.json
  packages/bootstrap/lib/swatches/bootstrap-4-dark.json
  packages/bootstrap/lib/swatches/bootstrap-4.json
  packages/bootstrap/lib/swatches/bootstrap-main-dark.json
  packages/bootstrap/lib/swatches/bootstrap-main.json
  packages/bootstrap/lib/swatches/bootstrap-nordic.json
  packages/bootstrap/lib/swatches/bootstrap-turquoise-dark.json
  packages/bootstrap/lib/swatches/bootstrap-turquoise.json
  packages/bootstrap/lib/swatches/bootstrap-urban.json
  packages/bootstrap/lib/swatches/bootstrap-vintage.json
  packages/classic/lib/swatches/classic-green-dark.json
  packages/classic/lib/swatches/classic-green.json
  packages/classic/lib/swatches/classic-main-dark.json
  packages/classic/lib/swatches/classic-main.json
  packages/classic/lib/swatches/classic-opal-dark.json
  packages/classic/lib/swatches/classic-opal.json
  packages/classic/lib/swatches/classic-silver-dark.json
  packages/classic/lib/swatches/classic-silver.json
  packages/default/lib/swatches/default-blue.json
  packages/default/lib/swatches/default-green.json
  packages/default/lib/swatches/default-main-dark.json
  packages/default/lib/swatches/default-main.json
  packages/default/lib/swatches/default-nordic.json
  packages/default/lib/swatches/default-orange.json
  packages/default/lib/swatches/default-purple.json
  packages/default/lib/swatches/default-turquoise.json
  packages/default/lib/swatches/default-urban.json
Labels: C:Button

#3264 Add focus state styles for tab item
  packages/default/scss/tabstrip/_theme.scss
Labels: C:Tabstrip
