Repository telerik/kendo-themes, pull requests merged in 2022-09, with the labels that each got.

#3909 Line height fix
  packages/bootstrap/scss/forms/_variables.scss
  packages/bootstrap/scss/typography/_variables.scss
  packages/classic/scss/forms/_variables.scss
  packages/classic/scss/typography/_variables.scss
  packages/default/scss/forms/_variables.scss
  packages/default/scss/gantt/_layout.scss
  packages/default/scss/spreadsheet/_layout.scss
  packages/default/scss/typography/_variables.scss
  packages/material/scss/forms/_variables.scss
  packages/material/scss/typography/_variables.scss
  packages/nouvelle/scss/_variables.scss
Labels: bug

#3911 fix(panelbar): panelbar item focus should not have outline
  packages/default/scss/panelbar/_layout.scss
Labels: C:Panelbar, area:a11y

#3914 [Fluent] Responsivepanel
  packages/fluent/scss/index.scss
  packages/fluent/scss/responsivepanel/_layout.scss
  packages/fluent/scss/responsivepanel/_theme.scss
  packages/fluent/scss/responsivepanel/_variables.scss
  packages/fluent/scss/responsivepanel/index.scss
Labels: T:Fluent

#3936 fix(table): use interpolation for sizing in fluent theme
  packages/fluent/scss/table/_layout.scss
Labels: bug, C:Table, T:Fluent

#3937 fix(pivotgrid): add outline none to focus cells
  packages/default/scss/pivotgrid/_layout.scss
Labels: bug, C:Pivotgrid

#3958 chore(deps): update bootstrap to v5.2.1
  packages/bootstrap/package-lock.json
  packages/bootstrap/package.json
Labels: dependencies

#3970 chore(deps): update kendo-theme-tasks to v1.17.3
  package-lock.json
  package.json
Labels: dependencies

#3971 chore(deps): bump sass and sass-embedded to v1.54.9
  package-lock.json
  package.json
Labels: internal

#3974 Split visual tests into smaller parts
  .github/workflows/ci_visual.yml
Labels: internal, infra:github

#3978 Use child workflows for generating test assets
  .github/workflows/ci_visual.yml
  .github/workflows/compile_themes.yml
  .github/workflows/create_snapshots.yml
Labels: internal, infra:github

#3980 fix(calendar): navigation scrollbar should not be accessible
  packages/default/scss/calendar/_layout.scss
  packages/fluent/scss/calendar/_layout.scss
Labels: bug, C: Calendar

#3985 Commit images even if triggered by dependabot
  .github/workflows/ci_visual.yml
Labels: internal, infra:github

#3626 Combobox structure
  gulpfile.js
  packages/html-spec/package-lock.json
  packages/html-spec/package.json
  packages/html-spec/src/button/button.json
  packages/html-spec/src/button/index.js
  packages/html-spec/src/checkbox/checkbox.json
  packages/html-spec/src/checkbox/index.js
  packages/html-spec/src/combobox/combobox.json
  packages/html-spec/src/combobox/index.js
  packages/html-spec/src/icon/icon.json
  packages/html-spec/src/icon/index.js
  packages/html-spec/src/index.js
  packages/html-spec/src/list/index.js
  packages/html-spec/src/list/list.json
  packages/html-spec/src/popup/index.js
  packages/html-spec/src/popup/popup.json
Labels: integration, interop:Unite
