Repository telerik/kendo-themes, pull requests merged in 2022-10, with the labels that each got.

#4036 fix(signature): remove k-signature-canvas outline on focus-visible
  packages/default/scss/signature/_layout.scss
Labels: C:Signature

#4050 [Editor] When in readonly mode the inner table content is resizable
  packages/default/scss/editor/_layout.scss
Labels: bug, C:Editor

#4053 Update checkout and setup-node actions to v3
  .github/workflows/ci_dev.yml
  .github/workflows/ci_next.yml
  .github/workflows/ci_unit.yml
  .github/workflows/ci_visual.yml
  .github/workflows/compile_themes.yml
  .github/workflows/create_snapshots.yml
  .github/workflows/merge_develop.yml
  .github/workflows/publish_swatches.yml
  .github/workflows/release_dev.yml
  .github/workflows/release_next.yml
  .github/workflows/release_stable.yml
  .github/workflows/tag_stable.yml
Labels: internal, infra:github

#4059 Use clamp instead of max for sizing action sheet container
  packages/default/scss/action-sheet/_layout.scss
  packages/fluent/scss/action-sheet/_layout.scss
Labels: bug, C:Actionsheet

#4058 fix(pdfviewer): add utils dependancy
  packages/bootstrap/scss/pdf-viewer/_index.scss
  packages/classic/scss/pdf-viewer/_index.scss
  packages/default/scss/pdf-viewer/_index.scss
  packages/material/scss/pdf-viewer/_index.scss
Labels: bug

#4063 fix(calendar): incorrect default view width with week column
  packages/bootstrap/scss/calendar/_variables.scss
  packages/classic/scss/calendar/_variables.scss
  packages/default/scss/calendar/_variables.scss
  packages/material/scss/calendar/_variables.scss
Labels: bug, C:Calendar
