Repository telerik/kendo-themes, pull requests merged in 2022-07, with the labels that each got.

#3686 fix(grid): use correct var for header cell spacing
  packages/default/scss/grid/_layout.scss
Labels: bug, C:Grid

#3711 infra: use token on branch checkout
  .github/workflows/ci_visual.yml
Labels: infra:github

#3750 Workaround glob 8 limitation when it comes to windows paths
  gulpfile.js
  package-lock.json
  package.json
Labels: internal, infra:build
