Repository telerik/kendo-themes, pull requests merged in 2022-08, with the labels that each got.

#3773 Expose $kendo-daterange-picker-input-width variable
  packages/bootstrap/scss/daterangepicker/_variables.scss
  packages/classic/scss/daterangepicker/_variables.scss
  packages/default/scss/daterangepicker/_variables.scss
  packages/material/scss/daterangepicker/_variables.scss
Labels: C:DateRangePicker

#3778 Fix fluent variables
  packages/fluent/scss/list/_variables.scss
  packages/fluent/scss/listbox/_variables.scss
  packages/fluent/scss/listgroup/_variables.scss
Labels: T:Fluent

#3795 Resolve module system warnings
  packages/fluent/scss/action-buttons/index.scss
  packages/fluent/scss/button/index.scss
  packages/fluent/scss/calendar/index.scss
  packages/fluent/scss/card/index.scss
  packages/fluent/scss/core/module-system/index.scss
  packages/fluent/scss/dialog/index.scss
  packages/fluent/scss/forms/index.scss
  packages/fluent/scss/icon/index.scss
  packages/fluent/scss/input/index.scss
  packages/fluent/scss/list/index.scss
  packages/fluent/scss/listbox/index.scss
  packages/fluent/scss/listgroup/index.scss
  packages/fluent/scss/maskedtextbox/index.scss
  packages/fluent/scss/messagebox/index.scss
  packages/fluent/scss/multiselect/index.scss
  packages/fluent/scss/notification/index.scss
  packages/fluent/scss/numerictextbox/index.scss
  packages/fluent/scss/overlay/index.scss
  packages/fluent/scss/popup/index.scss
  packages/fluent/scss/rating/index.scss
  packages/fluent/scss/searchbox/index.scss
  packages/fluent/scss/split-button/index.scss
  packages/fluent/scss/textarea/index.scss
  packages/fluent/scss/textbox/index.scss
  packages/fluent/scss/timepicker/index.scss
  packages/fluent/scss/typography/index.scss
  packages/fluent/scss/utils/index.scss
  packages/fluent/scss/window/index.scss
Labels: internal

#3858 fix(charts): add chart tooltip popup styles when not a direct child
  packages/default/scss/dataviz/_layout.scss
Labels: C:Chart

#3868 fix(button): add default to $button-padding-y-lg value
  packages/classic/scss/button/_variables.scss
  packages/default/scss/button/_variables.scss
Labels: C:Button, regression

#3872 Update theme-tasks in kendo-themes
  package-lock.json
  package.json
  packages/bootstrap/package-lock.json
  packages/bootstrap/package.json
  packages/classic/package-lock.json
  packages/classic/package.json
  packages/default/package-lock.json
  packages/default/package.json
  packages/fluent/package-lock.json
  packages/fluent/package.json
  packages/material/package-lock.json
  packages/material/package.json
  packages/nouvelle/package-lock.json
  packages/nouvelle/package.json
  packages/utils/package-lock.json
  packages/utils/package.json
Labels: Enhancement, internal, infra:build
