Repository telerik/kendo-themes, pull requests merged in 2022-02, with the labels that each got.

#3327 chore: set release status before pushing to develop
  .github/workflows/release_dev.yml
Labels: internal, infra:github

#3286 fix(input): conditionally set spinner offset to calculated or auto
  packages/bootstrap/scss/_variables.scss
  packages/classic/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/input/_layout.scss
  packages/material/scss/_variables.scss
  packages/nouvelle/scss/_variables.scss
Labels: bug, C:Input

#3346 Update dependencies 2022 Feb
  package-lock.json
  package.json
Labels: dependencies

#3355 fix(dataviz): set default barcode height
  packages/default/scss/dataviz/_layout.scss
Labels: Enhancement, C:Dataviz

#3293 fix(button): font awesome icons in icon button are not properly aligned
  packages/default/scss/button/_layout.scss
Labels: Enhancement, C:Button, integration

#3365 fix(textarea): set display to inline-flex
  packages/default/scss/textarea/_layout.scss
Labels: C:Textarea

#3358 fix(notification): make theme colors customizable
  packages/bootstrap/scss/notification/_variables.scss
  packages/classic/scss/notification/_variables.scss
  packages/default/scss/notification/_theme.scss
  packages/default/scss/notification/_variables.scss
  packages/material/scss/notification/_variables.scss
Labels: Enhancement, C:Notification

#3375 fix(button): add $kendo-button-border-radius variable to layout
  packages/default/scss/button/_layout.scss
Labels: C:Button

#3390 chore: add ci status and preview badges to readme
  README.md
Labels: docs

#3389 fix(list): empty items have a wrong height
  packages/default/scss/list/_layout.scss
Labels: C:List

#3401 refactor(stepper): use clamp instead of min function for setting labe…
  packages/default/scss/stepper/_layout.scss
Labels: C:Stepper

#3408 chore: trigger image tests in ff
  tests/visual/output/bootstrap/misc/avatar-size-rounded.png
  tests/visual/output/bootstrap/misc/avatar.png
  tests/visual/output/bootstrap/misc/breadcrumb-rtl.png
  tests/visual/output/bootstrap/misc/breadcrumb.png
  tests/visual/output/bootstrap/misc/chat-rtl.png
  tests/visual/output/bootstrap/misc/chat-scrollable-deck.png
  tests/visual/output/bootstrap/misc/chat.png
  tests/visual/output/bootstrap/misc/chip-outline.png
  tests/visual/output/bootstrap/misc/chip-size-rounded.png
  tests/visual/output/bootstrap/misc/chip-solid.png
  tests/visual/output/bootstrap/reference/captcha/captcha.png
  tests/visual/output/classic/misc/avatar-size-rounded.png
  tests/visual/output/classic/misc/avatar.png
  tests/visual/output/classic/misc/breadcrumb-rtl.png
  tests/visual/output/classic/misc/breadcrumb.png
  tests/visual/output/classic/misc/chat-rtl.png
  tests/visual/output/classic/misc/chat-scrollable-deck.png
  tests/visual/output/classic/misc/chat.png
  tests/visual/output/classic/misc/chip-outline.png
  tests/visual/output/classic/misc/chip-size-rounded.png
  tests/visual/output/classic/misc/chip-solid.png
  tests/visual/output/classic/reference/captcha/captcha.png
  tests/visual/output/default/misc/avatar-size-rounded.png
  tests/visual/output/default/misc/avatar.png
  tests/visual/output/default/misc/breadcrumb-rtl.png
  tests/visual/output/default/misc/breadcrumb.png
  tests/visual/output/default/misc/chat-rtl.png
  tests/visual/output/default/misc/chat-scrollable-deck.png
  tests/visual/output/default/misc/chat.png
  tests/visual/output/default/misc/chip-outline.png
  tests/visual/output/default/misc/chip-size-rounded.png
  tests/visual/output/default/misc/chip-solid.png
  tests/visual/output/default/reference/captcha/captcha.png
  tests/visual/output/material/misc/avatar-size-rounded.png
  tests/visual/output/material/misc/avatar.png
  tests/visual/output/material/misc/breadcrumb-rtl.png
  tests/visual/output/material/misc/breadcrumb.png
  tests/visual/output/material/misc/chat-rtl.png
  tests/visual/output/material/misc/chat-scrollable-deck.png
  tests/visual/output/material/misc/chat.png
  tests/visual/output/material/misc/chip-outline.png
  tests/visual/output/material/misc/chip-size-rounded.png
  tests/visual/output/material/misc/chip-solid.png
  tests/visual/output/material/reference/captcha/captcha.png
Labels: internal

#3402 feat(common/loading): add variables for loading indicator
  packages/bootstrap/scss/_variables.scss
  packages/classic/scss/_variables.scss
  packages/default/scss/_variables.scss
  packages/default/scss/common/_loading.scss
  packages/material/scss/_variables.scss
Labels: Enhancement

#3411 fix(textbox): add necessary disabled styles
  packages/default/scss/input/_layout.scss
Labels: C:Textbox

#3414 Checkout package-lock.json after npm link
  scripts/setup.sh
Labels: internal
