Repository telerik/kendo-themes, pull requests merged in 2023-01, with the labels that each got.

#4193 chore(deps): bump kendo-theme-tasks from 1.17.3 to 1.17.5
  package-lock.json
  package.json
Labels: dependencies

#4195 chore: remove prepublish and postpublish scripts from pkgs
  package.json
  packages/bootstrap/package.json
  packages/classic/package.json
  packages/core/package.json
  packages/default/package.json
  packages/fluent/package.json
  packages/html-spec/package.json
  packages/html/package.json
  packages/material/package.json
  packages/nouvelle/package.json
  packages/utils/package.json
Labels: infra:build

#4198 fix(html-spec): appbar json file name
  packages/html-spec/src/appbar/appbar.json
Labels: bug, C:AppBar

#4200 fix(gantt): add a stronger td selector
  packages/default/scss/gantt/_layout.scss
  packages/fluent/scss/gantt/_layout.scss
Labels: bug, C:Gantt

#4208 fix(icon): adjust selectors for the new k-icon-wrapper-host element
  packages/default/scss/colorgradient/_layout.scss
  packages/default/scss/icons/_layout.scss
  packages/default/scss/input/_layout.scss
  packages/fluent/scss/colorgradient/_layout.scss
  packages/fluent/scss/icon/_layout.scss
  packages/fluent/scss/input/_layout.scss
Labels: FW:Angular, C:Icon

#4210 Button icon svg
  packages/default/scss/button/_layout.scss
  packages/fluent/scss/button/_layout.scss
Labels: bug

#4213 fix(input): wrong svg icon size inside input
  packages/default/scss/input/_layout.scss
  packages/fluent/scss/input/_layout.scss
Labels: bug, C:Input

#4225 Fix missing utility classes
  packages/utils/scss/_variables.scss
Labels: bug, C:Utils

#4228 fix(button): adjust selector for the new k-icon-wrapper-host element
  packages/default/scss/button/_layout.scss
  packages/fluent/scss/button/_layout.scss
Labels: bug, C:Button
