Repository telerik/kendo-themes, pull requests merged in 2023-07, with the labels that each got.

#4562 chore: specify peer deps
  package-lock.json
  package.json
Labels: dependencies

#4577 chore(treelist): use content box for toggle icon to prevent shrinking
  packages/default/scss/treelist/_layout.scss
  packages/fluent/scss/treelist/_layout.scss
Labels: C:Treelist

#4606 chore(deps): update deps to match current dev version
  packages/bootstrap/package-lock.json
  packages/bootstrap/package.json
  packages/classic/package-lock.json
  packages/classic/package.json
  packages/default/package-lock.json
  packages/default/package.json
  packages/fluent/package-lock.json
  packages/fluent/package.json
  packages/material/package-lock.json
  packages/material/package.json
  packages/nouvelle/package-lock.json
  packages/nouvelle/package.json
Labels: dependencies

#4623 chore: add time selector templates
  packages/html/src/time-selector/index.ts
  packages/html/src/time-selector/templates/time-selector-all.tsx
  packages/html/src/time-selector/templates/time-selector-hour.tsx
  packages/html/src/time-selector/templates/time-selector-minute.tsx
  packages/html/src/time-selector/tests/time-selector.tsx
Labels: test

#4636 chore(scrollview): scope animations to k-scrollview-animate
  packages/default/scss/scrollview/_layout.scss
  packages/fluent/scss/scrollview/_layout.scss
Labels: C:Scrollview
