Repository telerik/kendo-themes, pull requests merged in 2023-04, with the labels that each got.

#4382 chore: remove deprecated esbuild watch mode
  package.json
  packages/html/package.json
  packages/html/scripts/build-tests.js
Labels: infra:build

#4393 fix(grid): increase sticky content selector specificity
  packages/default/scss/grid/_theme.scss
Labels: C:Grid

#4400 ci(dev): switch to lerna conventional prerelease
  .github/workflows/publish_npm_dev.yml
Labels: infra:github

#4405 Fix dev build checks
  .github/workflows/publish_npm_dev.yml
Labels: infra:github

#4398 fix(input): missing border of the searchbox element
  packages/default/scss/input/_layout.scss
  packages/fluent/scss/input/_layout.scss
Labels: bug, C:Input

#4410 feat(utils): add background position and size
  packages/utils/docs/customization.md
  packages/utils/scss/_variables.scss
  packages/utils/scss/background/_background-position.scss
  packages/utils/scss/background/_background-size.scss
  packages/utils/scss/background/index.import.scss
Labels: Enhancement, C:Utils
