Repository telerik/kendo-themes, pull requests merged in 2023-05, with the labels that each got.

#4483 fix(pdf-viewer): wrong cursor in search panel
  packages/default/scss/pdf-viewer/_layout.scss
  packages/fluent/scss/pdf-viewer/_layout.scss
Labels: bug, C:PdfViewer

#4486 chore(fluent): update importing section in readme
  packages/fluent/README.md
Labels: T:Fluent

#4482 fix(icon): wrong icon size when svg is used with k-icon-modifier
  packages/default/scss/icons/_layout.scss
  packages/fluent/scss/icon/_layout.scss
Labels: bug, C:Icon

#4490 fix typo to generate k-stroke- utilities
  packages/utils/scss/svg/_stroke.scss
Labels: bug, C:Utils

#4499 fix: make rows resizer to be visible for sticky columns
  packages/default/scss/grid/_layout.scss
  packages/fluent/scss/grid/_layout.scss
Labels: bug, C:Grid
