Repository telerik/kendo-themes, pull requests merged in 2023-02, with the labels that each got.

#4258 fix(scheduler): variables name in ocean-blue swatch
  packages/default/lib/swatches/default-ocean-blue.json
Labels: bug, C:Scheduler, area:a11y

#4257 fix(pager): remove grid pager overrides in bootstrap
  packages/bootstrap/scss/grid/_theme.scss
Labels: bug, C:Grid, C:Pager

#4247 fix(dropzone): adjust selector for the new k-icon-wrapper-host element
  packages/default/scss/dropzone/_layout.scss
  packages/default/scss/dropzone/_theme.scss
  packages/fluent/scss/dropzone/_layout.scss
  packages/fluent/scss/dropzone/_theme.scss
Labels: bug, FW:Angular, C:Dropzone

#4249 Correct position of a cell selection in the Fluent theme
  packages/fluent/scss/spreadsheet/_layout.scss
Labels: bug, C:Spreadsheet

#4272 ci(dev): fetch before pushing release commit
  .github/workflows/publish_npm_dev.yml
Labels: infra:github

#4273 ci(dev): simplify dev release
  .github/workflows/publish_npm_dev.yml
Labels: infra:github

#4274 Streamline flex-grid align, justify and place utilities
  packages/utils/scss/_variables.scss
Labels: Enhancement, C:Utils

#4280 ci: specify exact dependencies with lerna publish
  .github/workflows/publish_npm.yml
  .github/workflows/publish_npm_dev.yml
Labels: infra:github

#4281 Normalize paths in json data
  scripts/sassdoc.js
Labels: docs

#4287 Do not perform contrast check on weekly ci
  .github/workflows/ci_weekly.yml
Labels: infra:github

#4291 Always use optional flag when extending
  packages/default/scss/action-buttons/_layout.scss
  packages/default/scss/button/_layout.scss
  packages/default/scss/calendar/_layout.scss
  packages/default/scss/colorpicker/_layout.scss
  packages/default/scss/daterangepicker/_layout.scss
  packages/default/scss/forms/_layout.scss
  packages/default/scss/list/_layout.scss
  packages/default/scss/pager/_layout.scss
  packages/default/scss/typography/_layout.scss
  packages/fluent/scss/action-buttons/_layout.scss
  packages/fluent/scss/colorpicker/_layout.scss
  packages/fluent/scss/daterangepicker/_layout.scss
  packages/fluent/scss/forms/_layout.scss
  packages/fluent/scss/grid/_layout.scss
  packages/fluent/scss/list/_layout.scss
  packages/fluent/scss/pager/_layout.scss
  packages/fluent/scss/popover/_layout.scss
  packages/fluent/scss/slider/_layout.scss
  packages/fluent/scss/typography/_layout.scss
  packages/nouvelle/scss/actions/_layout.scss
  packages/nouvelle/scss/slider/_layout.scss
Labels: internal

#4304 Trigger image tests in firefox 110
  tests/_output/bootstrap/card/card-custom.png
  tests/_output/nouvelle/fab/fab-items.png
Labels: internal, browser:firefox

#4290 fix(pivotgrid): chip menu not properly positioned
  packages/default/scss/chip/_layout.scss
  packages/fluent/scss/chip/_layout.scss
  packages/nouvelle/scss/chip/_layout.scss
Labels: bug, C:Pivotgrid, FW:Angular

#4310 Inner dropzone should not be clickable
  packages/default/scss/dropzone/_layout.scss
  packages/fluent/scss/dropzone/_layout.scss
Labels: C:Dropzone
