Repository telerik/kendo-themes, pull requests merged in 2023-03, with the labels that each got.

#4331 fix: bootstrap swatches do not override inherited primary color
  packages/bootstrap/lib/swatches/bootstrap-3-dark.json
  packages/bootstrap/lib/swatches/bootstrap-3.json
  packages/bootstrap/lib/swatches/bootstrap-4-dark.json
  packages/bootstrap/lib/swatches/bootstrap-4.json
  packages/bootstrap/lib/swatches/bootstrap-main-dark.json
  packages/bootstrap/lib/swatches/bootstrap-nordic.json
  packages/bootstrap/lib/swatches/bootstrap-turquoise-dark.json
  packages/bootstrap/lib/swatches/bootstrap-turquoise.json
  packages/bootstrap/lib/swatches/bootstrap-urban.json
  packages/bootstrap/lib/swatches/bootstrap-vintage.json
Labels: bug, T:Bootstrap

#4334 fix(chip): close icon not properly aligned
  packages/default/scss/chip/_layout.scss
  packages/fluent/scss/chip/_layout.scss
  packages/nouvelle/scss/chip/_layout.scss
Labels: bug, FW:Angular, C:Chip

#4333 fix(editor): remove editor z-index
  packages/default/scss/editor/_layout.scss
  packages/fluent/scss/editor/_layout.scss
Labels: bug, C:Editor, FW:Angular

#4303 ci: update workflows node version to 18
  .github/workflows/_compile-themes.yml
  .github/workflows/_create-screenshots.yml
  .github/workflows/_lint-scripts.yml
  .github/workflows/_lint-styles.yml
  .github/workflows/_render-test-pages.yml
  .github/workflows/_test-contrast.yml
  .github/workflows/publish_npm.yml
  .github/workflows/publish_npm_dev.yml
  .github/workflows/publish_nuget.yml
  .github/workflows/publish_swatches.yml
  .github/workflows/tag_stable.yml
Labels: infra:github

#4346 fix(fluent): add missing color class names
  packages/fluent/scss/core/color-system/_variables.scss
Labels: bug, T:Fluent
