Repository telerik/kendo-themes, pull requests merged in 2024-12, with the labels that each got.

#5252 fix(gantt): tasks resizing indicators should point both left and right
  packages/default/scss/gantt/_layout.scss
  packages/fluent/scss/gantt/_layout.scss
Labels: C:Gantt

#5254 chore(infra): remove deprecated stylelint rule
  .stylelintrc.json
Labels: Infrastructure

#5262 fix: add missing time-marker dependency
  packages/bootstrap/scss/gantt/_index.scss
  packages/bootstrap/scss/scheduler/_index.scss
  packages/classic/scss/gantt/_index.scss
  packages/classic/scss/scheduler/_index.scss
  packages/default/scss/gantt/_index.scss
  packages/default/scss/scheduler/_index.scss
  packages/fluent/scss/gantt/_index.scss
  packages/fluent/scss/scheduler/_index.scss
  packages/material/scss/gantt/_index.scss
  packages/material/scss/scheduler/_index.scss
Labels: Bug, C:Gantt, C:Scheduler

#5261 fix(input): allow base input box-shadow customization
  packages/default/scss/input/_theme.scss
Labels: Bug, C:Input

#5268 chore: exclude nouvelle theme from nuget
  packages/nouvelle/package.json
Labels: Infrastructure

#5263 fix(pdf-viewer): link annotations are not clickable
  packages/default/scss/pdf-viewer/_layout.scss
  packages/fluent/scss/pdf-viewer/_layout.scss
Labels: Bug, C:PdfViewer
