Repository telerik/kendo-themes, pull requests merged in 2024-11, with the labels that each got.

#5203 chore: remove node-sass and kendo-theme-tasks dependencies
  gulpfile.js
  package-lock.json
  package.json
Labels: Dependencies

#5206 fix(core): change the main field to point all.css in package.json
  packages/core/package.json
Labels: C:Core

#5216 fix: do not include legacy color variables in swatches
  gulpfile.js
Labels: T:Default, T:Bootstrap, T:Material, T:Classic, T:Fluent

#5210 fix(grid): fix broken sticky row styles
  packages/bootstrap/scss/grid/_theme.scss
  packages/default/scss/grid/_theme.scss
  packages/fluent/scss/grid/_theme.scss
Labels: Bug, C:Grid, Regression, Test:missing

#5218 fix: add missing panel styles
  packages/bootstrap/scss/index.scss
  packages/classic/scss/index.scss
  packages/default/scss/index.scss
  packages/default/scss/panel/_layout.scss
  packages/default/scss/panel/_theme.scss
  packages/fluent/scss/index.scss
  packages/material/scss/index.scss
Labels: Bug

#5226 chore: re-schedule weekly cron job
  .github/workflows/ci_weekly.yml
Labels: github_actions
