Repository telerik/kendo-themes, pull requests merged in 2024-03, with the labels that each got.

#4914 fix(table): table-list group row is misaligned in safari
  packages/default/scss/table/_layout.scss
  packages/fluent/scss/table/_layout.scss
Labels: Bug, C:Table

#4955 fix(loader): loader container stays underneath windows and dialogs
  packages/default/scss/loader/_layout.scss
  packages/fluent/scss/loader/_layout.scss
Labels: Bug, C:Loader

#4957 Fix and extend utility classes
  packages/utils/scss/_variables.scss
Labels: Bug, C:Utils
