Repository telerik/kendo-themes, pull requests merged in 2024-04, with the labels that each got.

#4969 chore(utils): use correct css var in font weight utils
  packages/utils/scss/typography/_font-weight.scss
Labels: Bug, C:Utils

#4988 Remove sankey label pointer-events
  packages/default/scss/dataviz/_layout.scss
  packages/fluent/scss/dataviz/_layout.scss
Labels: C:Chart

#4997 fix: add display flex to listview
  packages/default/scss/listview/_layout.scss
  packages/fluent/scss/listview/_layout.scss
Labels: Bug, C:Listview
