Repository telerik/kendo-themes, pull requests merged in 2024-05, with the labels that each got.

#5028 fix(action-sheet): reduce filter calc nesting
  packages/default/scss/action-sheet/_layout.scss
  packages/fluent/scss/action-sheet/_layout.scss
Labels: Bug, C:Actionsheet

#5029 fix(dataviz): gauge track uses a wrong color
  packages/default/scss/dataviz/_layout.scss
  packages/fluent/scss/dataviz/_layout.scss
Labels: Bug, C:Dataviz

#5030 fix(utils): resolve dart-sass warning for naming functions and mixins
  packages/utils/scss/transform/_rotate.scss
  packages/utils/scss/transform/_scale.scss
  packages/utils/scss/transform/_skew.scss
  packages/utils/scss/transform/_translate.scss
Labels: Bug, C:Utils

#5056 fix(table): focused table cells are not interactive
  packages/material/scss/table/_layout.scss
Labels: C:Grid, Regression, C:Table
