Repository telerik/kendo-themes, pull requests merged in 2024-02, with the labels that each got.

#4881 chore(deps): remove sass-unused dep
  package-lock.json
  package.json
Labels: Dependencies

#4888 fix(utils): set correct module id in package json
  packages/utils/package.json
Labels: Bug, C:Utils

#4889 fix(spreadsheet): file icon overlaps elements in export to pdf popup
  packages/default/scss/spreadsheet/_layout.scss
Labels: Bug, C:Spreadsheet, Regression
