Repository telerik/kendo-themes, pull requests merged in 2024-01, with the labels that each got.

#4746 fix(drawer): content element is not visible
  packages/default/scss/drawer/_layout.scss
  packages/fluent/scss/drawer/_layout.scss
Labels: Bug, C:Drawer

#4842 fix(gantt): gantt-timeline children should have correct box-sizing
  packages/default/scss/gantt/_layout.scss
  packages/fluent/scss/gantt/_layout.scss
Labels: C:Gantt

#4843 chore: refactor input separator styles
  packages/default/scss/input/_layout.scss
  packages/fluent/scss/input/_layout.scss
Labels: C:Input

#4861 chore(html): correct default filemanager toolbar behaviour
  packages/html/src/filemanager/filemanager-toolbar.spec.tsx
  packages/html/src/filemanager/filemanager.spec.tsx
  packages/html/src/filemanager/index.ts
Labels: C:FileManager

#4872 chore(html): correct slider spec
  packages/html/src/slider/slider-tick.tsx
  packages/html/src/slider/slider.spec.tsx
Labels: C:Slider
