Repository telerik/kendo-themes, pull requests merged in 2025-06, with the labels that each got.

#5481 [Fluent]: Remove --INTERNAL variable usage
  packages/fluent/scss/action-sheet/_theme.scss
  packages/fluent/scss/appbar/_theme.scss
  packages/fluent/scss/badge/_layout.scss
  packages/fluent/scss/badge/_theme.scss
  packages/fluent/scss/bottom-navigation/_theme.scss
  packages/fluent/scss/breadcrumb/_layout.scss
  packages/fluent/scss/button/_layout.scss
  packages/fluent/scss/button/_theme.scss
  packages/fluent/scss/calendar/_layout.scss
  packages/fluent/scss/calendar/_theme.scss
  packages/fluent/scss/card/_theme.scss
  packages/fluent/scss/checkbox/_layout.scss
  packages/fluent/scss/chip/_layout.scss
  packages/fluent/scss/chip/_theme.scss
  packages/fluent/scss/colorgradient/_layout.scss
  packages/fluent/scss/editor/_theme.scss
  packages/fluent/scss/fab/_layout.scss
  packages/fluent/scss/fab/_theme.scss
  packages/fluent/scss/grid/_layout.scss
  packages/fluent/scss/imageeditor/_layout.scss
  packages/fluent/scss/input/_layout.scss
  packages/fluent/scss/input/_theme.scss
  packages/fluent/scss/list/_layout.scss
  packages/fluent/scss/list/_theme.scss
  packages/fluent/scss/loader/_layout.scss
  packages/fluent/scss/menu/_layout.scss
  packages/fluent/scss/messagebox/_theme.scss
  packages/fluent/scss/notification/_theme.scss
  packages/fluent/scss/otp/_layout.scss
  packages/fluent/scss/pager/_layout.scss
  packages/fluent/scss/pager/_theme.scss
  packages/fluent/scss/panelbar/_layout.scss
  packages/fluent/scss/panelbar/_theme.scss
  packages/fluent/scss/radio/_layout.scss
  packages/fluent/scss/slider/_theme.scss
  packages/fluent/scss/switch/_layout.scss
  packages/fluent/scss/switch/_theme.scss
  packages/fluent/scss/table/_layout.scss
  packages/fluent/scss/timeselector/_layout.scss
  packages/fluent/scss/toolbar/_layout.scss
  packages/fluent/scss/tooltip/_theme.scss
  packages/fluent/scss/treeview/_layout.scss
  packages/fluent/scss/treeview/_theme.scss
Labels: T: Fluent

#5492 fix(charts): add display properties to diagram and gauge
  packages/core/scss/components/dataviz/_layout.scss
  packages/fluent/scss/dataviz/_layout.scss
Labels: C: Chart

#5500 chore(docs): fix utils typo
  packages/utils/scss/flex-grid/_grid-row-start-end.scss
Labels: Documentation, C: Utils
